@model News
@{
    Layout = null;
    var info = new VMMateriallnfo
    {
        DateOfPublication = Model.DateOfPublication,
        CommentsCount = Model.CommentsCount,
        ViewsCount = Model.ViewsCount
    };

    var url = Url.Action(MVC.News.Details(Model.DateCreate.Year, Model.DateCreate.Month.ToString("00"), Model.DateCreate.Day.ToString("00"), Model.TitleUrl));
    var picureId = Model.FrontPictureId != null ? Model.FrontPictureId : (Model.Game != null && Model.Game.GoodPictureId.HasValue) ? Model.Game.GoodPictureId : null;
}

<div class="row">
    <div class="col-md-6 hidden-sm">
        <figure class="mat-f-p" style="background-image:url(@(Model.FrontPictureId != null?@Url.Action(MVC.Pictures.Picture((Guid)picureId, height: 300)):"~/Content/dist/i/article-empty.png"))">
            @*@if (Model.FrontPictureId != null)
            {
                <img alt="@Model.Title" src="@Url.Action(MVC.Pictures.Picture((Guid)picureId, height: 300))" />
            }
            else
            {
                <img alt="@Model.Title" src="~/Content/dist/i/article-empty.png" />
            }*@
        </figure>
    </div>
    <div class="col-md-6">
        <div class="content">
            <time>@Model.DateOfPublication.ToString("dd.MM.yyyy")</time>
            <a class="link" href="@url">@Model.Title</a>
            <p class="foreword">@Model.Foreword</p>
            <div>
                @if(Model.User!=null)
                {
                    <i>Автор: <strong>@Model.User.NikName</strong></i>
                }
                @if(Model.Game!=null && Model.Game.TitleUrl!=null)
                {
                    <i>; игра: <strong>@Model.Game.Title</strong></i>
                }
            </div>
            <a href="@url" class="btn btn-default btn-transparent muted-blue visible-xs">Подробнее</a>
        </div>
    </div>
</div>