@model News
@{
    Layout = null;
    var info = new VMMateriallnfo
    {
        DateCreate = Model.DateCreate,
        CommentsCount = Model.CommentsCount,
        ViewsCount = Model.ViewsCount
    };
}

<div class="row">
    <div class="col-md-6">
        <figure class="mat-f-p">
            @if (Model.FrontPictureId != null)
            {
                <img alt="@Model.Title" src="@Url.Action(MVC.Pictures.Picture((Guid)Model.FrontPictureId, height: 200))" />
            }
            else
            {
                <img alt="@Model.Title" src="~/Content/dist/i/article-empty.png" />
            }
        </figure>
    </div>
    <div class="col-md-6">
        <div class="content">
            <time>@Model.DateCreate.ToString("dd.MM.yyyy")</time>
            @if (Model.Game != null && Model.Game.FrontPictureId.HasValue)
            {
                <img class="g-img" alt="@Model.Game.Title" src="@Url.Action(MVC.Pictures.Picture((Guid)Model.Game.FrontPictureId, height: 80))" />
            }
            <a class="link" href="@Url.Action(MVC.News.Details(Model.TitleUrl))">@Model.Title</a>
            <p class="foreword">@Model.Foreword</p>
            <a href="@Url.Action(MVC.News.Details(Model.TitleUrl))" class="btn btn-default btn-transparent dark-blue visible-xs">Подробнее</a>
        </div>
    </div>
</div>