@model News
@{
    Layout = null;
    var info = new VMMateriallnfo
    {
        DateOfPublication = Model.DateOfPublication,
        CommentsCount = Model.CommentsCount,
        ViewsCount = Model.ViewsCount
    };

    var picureId = Model.FrontPictureId != null ? Model.FrontPictureId : (Model.Game != null ? Model.Game.GoodPictureId : Guid.Empty);
}

<div class="row">
    <div class="col-md-6 hidden-sm">
        <figure class="mat-f-p" style="background-image:url(@(Model.FrontPictureId != null?@Url.Action("Picture", new { controller="Pictures", id=picureId, height=300 }):"~/Content/dist/i/article-empty.png"))">
           
        </figure>
    </div>
    <div class="col-md-6">
        <div class="content">
            <time>@Model.DateOfPublication.ToString("dd.MM.yyyy")</time>
            <a class="link" href="@Model.Url(Url)">@Model.Title</a>
            <p class="foreword">@Model.Foreword</p>
            <div>
                @if(Model.User!=null)
                {
                    <i>Автор: <strong>@Model.User.NikName</strong></i>
                }
                @if(Model.Game!=null && Model.Game.TitleUrl!=null)
                {
                    <i>; игра: <strong>@Model.Game.Title</strong></i>
                }
            </div>
            <a href="@Model.Url(Url)" class="btn btn-default btn-transparent muted-blue visible-xs">Подробнее</a>
        </div>
    </div>
</div>