@model VMEditMenu

<form method="post" action="edit" class="form">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(x => x.Name, new { @class = "control-label" })
                @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Введите наименование меню" } })
                @Html.ValidationMessageFor(x => x.Name)
            </div>
        </div>
        <div class="col-md-12">
            <!--menu items-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Пункты меню <a class="btn btn-default btn-xs" href="/menuitems/edit?menuId=@Model.Id">Добавить</a> <span class="badge pull-right">@Model.Items.Length</span>
                    </h4>
                </div>
                <div class="panel-body" id="menu-@Model.Id">
                    @Html.Partial(MVC.MenuItems.Views._MenuItems, new VMMenuItemList { MenuId=Model.Id, Items=Model.Items})
                </div>
            </div>
            <!--end menu items-->
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-default">@(Model.Id == 0 ? "Добавить" : "Сохранить")</button>
        @Html.RouteLink("Назад", new { action = "Index" }, new { @class = "btn btn-default" })
        <button type="button" class="btn btn-danger">Удалить</button>
    </div>
</form>

@section scripts{
    <script type="text/javascript">
    function deleteMenuItem(button)
    {
        var btn = $(button);
        var menuItemId = btn.data('menu-item-id');
        $.ajax({
            method: 'post',
            url: '/menuitems/delete',
            data: {menuId:@Model.Id, menuItemId:menuItemId},
                success:function(html){
                    $('#menu-@Model.Id').html(html);
                }
            });
       }
    </script>
}