@{
    ViewBag.Title = ViewBag.Title ?? "Новости, статьи игровой индустрии";
    var gameName = Request.RequestContext.RouteData.Values["gameTitle"];
    if (gameName != null)
    {
        ViewBag.Title += " " + gameName;
    }
    ViewBag.H1 = ViewBag.H1 ?? ViewBag.Title;
    ViewBag.H1CssClass = "hidden";
    if (ViewBag.Description == null && gameName != null)
    {
        ViewBag.Description = "На данной странице вы сможете ознакомиться споследними новостями и статьями, которые были написаны авторами нашего сайта об игре " + gameName;
    }
    ViewBag.Keywords = ViewBag.Keywords ?? gameName;
}

@Html.Action(MVC.News.LastGamesNewsBlock(lnc: 5))

@Html.Action(MVC.News.NewsCategories(lnc: 5))

<div class="text-center all-news-btn">
    <a href="@Url.Action(MVC.News.List())" class="btn btn-default btn-transparent white">Все новости</a>
</div>

<section>
    @Html.Action("randomlist", "sitetests")
</section>

@Html.Action(MVC.Articles.ForGamersBlock())

@section scripts{
    <script type="text/javascript" src="~/Content/dist/js/ge-last-news-block.min.js"></script>
    <script type="text/javascript" src="~/Content/dist/js/ge-for-gamers-block.min.js"></script>
    <script type="text/javascript" src="~/Content/dist/js/ge-last-category-block.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.l-n-b').geLastNewsBlock();
            $('.l-c-n-b').geLastCategoryBlock();
            $('.f-g-b').geFGB(400);
        });
    </script>
}