@{
    Layout = null;
    var siteName = GE.WebUI.Infrastructure.SiteSettings.Get(SX.WebCore.Resources.Settings.siteName);
    var logoUrl = Url.Action("Picture", "Pictures", new { id = GE.WebUI.Infrastructure.SiteSettings.Get(SX.WebCore.Resources.Settings.siteLogoPath) });
}
<footer>
    <div class="shadow"></div>
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <ul class="menu">
                        <li>
                            <a href="@Url.Action("Index", "Home")">Главная</a>
                        </li>
                        <li>
                            <a href="@Url.Action("List", "News")">Новости</a>
                        </li>
                        <li>
                            <a href="@Url.Action("List", "Articles")">Статьи</a>
                        </li>
                        <li>
                            <a href="@Url.Action("List", "Aphorisms")">Кратко</a>
                        </li>
                        <li>
                            <a href="@Url.Action("List", "Humor")">Юмор</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6">
                    @Html.Partial("_SocialIconsMenu")
                </div>
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h6 class="header">Последние публикации</h6>
                    @Html.Action("Last", "Articles", new { amount = 3 })
                </div>
                <div class="col-md-4">
                    <ul class="menu">
                        <li>
                            <a href="@Url.Action("List", "News")">Новости</a>
                        </li>
                        <li>
                            <a href="@Url.Action("List", "Articles")">Статьи</a>
                        </li>
                        <li>
                            <a href="@Url.Action("List", "Employees")">Контакты</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Edit", "SiteQuestions")">Правообладателям</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="sign-menu">
                        <li>
                            <a href="@Url.Action("Register", "Account")" rel="nofollow">Регистрация</a>
                        </li>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a href="@Url.Action("Login", "Account")" rel="nofollow">Войти в аккаунт</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="#" rel="nofollow">Личный кабинет</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="first">
                        <a href="/">
                            <img alt="@siteName.Value" src="@logoUrl">
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="second">
                        Любое использование или копирование материалов сайта - только с разрешения правообладателя и только с указанием ссылки на сайт
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="third">
                        @if (!Request.IsLocal)
                        {
                        <!-- Yandex.Metrika informer -->
                            <a href="https://metrika.yandex.ru/stat/?id=36243880&amp;from=informer"
                               target="_blank" rel="nofollow">
                                <img src="https://informer.yandex.ru/informer/36243880/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
                                     style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="36243880" data-lang="ru" />
                            </a>
                        <!-- /Yandex.Metrika informer -->

                        <!--LiveInternet counter-->
                            <script type="text/javascript">
<!--
document.write("<a href='//www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t14.6;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров за 24"+
" часа, посетителей за 24 часа и за сегодня' "+
"border='0' width='88' height='31'><\/a>")
//--></script><!--/LiveInternet-->

                        }
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="last">
                        © Все права защищены, 2015 - @(DateTime.Now.Year) год<br />
                        Разработка и поддержка: <a href="mailto:simlex.dev.2014@gmail.com">simlex</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>