@{
    Layout = null;
    var siteName = GE.WebUI.Infrastructure.SiteSettings.Get(SX.WebCore.Resources.Settings.siteName);
    var logoUrl = GE.WebUI.Infrastructure.SiteSettings.Get(SX.WebCore.Resources.Settings.siteLogoPath);
}
<footer>
    <div class="shadow"></div>
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <ul class="menu">
                        <li>
                            <a href="@Url.Action(MVC.Home.Index())">Главная</a>
                        </li>
                        <li>
                            <a href="@Url.Action(MVC.News.List())">Новости</a>
                        </li>
                        <li>
                            <a href="@Url.Action(MVC.Articles.List())">Статьи</a>
                        </li>
                        <li>
                            <a href="@Url.Action(MVC.Aphorisms.List())">Кратко</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6">
                    @Html.Partial(MVC.Shared.Views._SocialIconsMenu)
                </div>
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h6 class="header">Последние публикации</h6>
                    @Html.Action(MVC.Articles.Last(3))
                </div>
                <div class="col-md-4">
                    <ul class="menu">
                        <li>
                            <a href="@Url.Action(MVC.News.List())">Новости</a>
                        </li>
                        <li>
                            <a href="@Url.Action(MVC.Articles.List())">Статьи</a>
                        </li>
                        <li>
                            <a href="@Url.Action(MVC.Employees.List())">Контакты</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="sign-menu">
                        <li>
                            <a href="@Url.Action(MVC.Account.Register())" rel="nofollow">Регистрация</a>
                        </li>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a href="@Url.Action(MVC.Account.Login())" rel="nofollow">Войти в аккаунт</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="#" rel="nofollow">Личный кабинет</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="first">
                        <a href="/">
                            <img alt="@siteName.Value" src="@logoUrl.Value">
                        </a>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="second">
                        Любое использование или копирование материалов сайта - только с разрешения правообладателя и только с указанием ссылки на сайт
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="third">
                        @if (!Request.IsLocal)
                        {
                        <!--LiveInternet counter-->
                        <script type="text/javascript">
<!--
document.write("<a href='//www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t14.6;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров за 24"+
" часа, посетителей за 24 часа и за сегодня' "+
"border='0' width='88' height='31'><\/a>")
//--></script><!--/LiveInternet-->
                        }
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="last">
                        © Все права защищены, 2015 - @(DateTime.Now.Year) год<br />
                        Разработка и поддержка: <a href="mailto:simlex.dev.2014@gmail.com">simlex</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>