@model VMMaterial

<blockquote class="mat-fwd">
    <h2 class="ann">Аннотация</h2>
    <p class="fwd">@Model.Foreword</p>
    <p class="mat-fwd__info">
        Дата публикации: <strong>@Model.DateOfPublication.ToString("dd.MM.yyyy")</strong><br />
        Отредактировано: <strong>@Model.DateUpdate.ToString("dd.MM.yyyy hh:mm")</strong><br />
        @if (Model.User != null)
        {
            <text>Автор материала:</text> <strong>@Model.User.NikName</strong>
        }
    </p>
    @Html.SxRating(Model.Rating, Url.Action("AddRating", "Rating", new { mid = Model.Id, mct = Model.ModelCoreType }))
</blockquote>
