@using SX.WebCore;
@{
    Layout = null;
    var bgUrl = GE.WebUI.SiteSettings.Get(SX.WebCore.Resources.Settings.siteBgPath).ToString();
    var bg = string.IsNullOrEmpty(bgUrl) ? null : string.Format("style=background:url('{0}');", bgUrl);
    var values = Request.RequestContext.RouteData.Values;
    var controllerName = values["controller"].ToString().ToLower();
    var actionName = values["action"].ToString().ToLower();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @if (!Request.IsLocal)
    {
        <meta name='yandex-verification' content='6ffb2f4165dc2f9b' />
        <meta name="google-site-verification" content="QYxPEKA9_otcljwYxhy7L8VNJqwih_ZTML5UV_kT5QI" />
    }
    @if (ViewBag.Description != null)
    {
        <meta name="description" content="@ViewBag.Description" />
        <meta property="og:description" content="@ViewBag.Description" />
    }
    @if (ViewBag.Keywords != null)
    {
        <meta name="keywords" content="@ViewBag.Keywords" />
    }
    @if(ViewBag.LastModified != null)
    {
        <meta http-equiv="last-modified" content="@ViewBag.LastModified" />
    }
    <meta property="og:url" content="@Request.Url" />
    <title>@ViewBag.Title</title>
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:image" content="@Url.ContentAbsUrl(ViewBag.PageImage!=null?(string)ViewBag.PageImage: "~/content/dist/i/faveicon.png")" />

    @RenderSection("head", false)

    <link rel="shortcut icon" href="@("/content/dist/i/faveicon.png")" type="image/png" />

    <link href="~/Content/dist/css/site.min.css" rel="stylesheet" async />
    @RenderSection("styles", false)

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body @(bg != null ? bg : null)>
    <div class="container-fluid th-top-block">
        <div class="row">
            <div class="col-md-2">
                @Html.SxThroughBanner(GE.WebUI.Infrastructure.BannerProvider.Provider.GetPlaceBanner(SxBanner.BannerPlace.Brand, controllerName, actionName), (b) => Url.Action(MVC.Pictures.Picture(b.PictureId)))
            </div>
            <div class="col-md-8">
                @Html.SxThroughBanner(GE.WebUI.Infrastructure.BannerProvider.Provider.GetPlaceBanner(SxBanner.BannerPlace.Top, controllerName, actionName), (b) => Url.Action(MVC.Pictures.Picture(b.PictureId)))
            </div>
            <div class="col-md-2">
                @Html.SxThroughBanner(GE.WebUI.Infrastructure.BannerProvider.Provider.GetPlaceBanner(SxBanner.BannerPlace.TopR, controllerName, actionName), (b) => Url.Action(MVC.Pictures.Picture(b.PictureId)))
            </div>
        </div>
    </div>
    @Html.Partial(MVC.Shared.Views._NavBar)
    <div class="wrapper">

        @Html.Action(MVC.Games.GameList())

        <div class="container">
            @Html.SxThroughBanner(GE.WebUI.Infrastructure.BannerProvider.Provider.GetPlaceBanner(SxBanner.BannerPlace.TopB, controllerName, actionName), (b) => Url.Action(MVC.Pictures.Picture(b.PictureId)))

            @if (ViewBag.H1 != null)
            {
                <h1 @(ViewBag.H1CssClass != null ? "class=" + ViewBag.H1CssClass : "class=header")>@ViewBag.H1</h1>
            }
            @RenderBody()
        </div>
    </div>
    @Html.Partial(MVC.Shared.Views._Footer)

    @Html.Partial(MVC.Shared.Views._Analytics)
    <script src="~/Content/dist/js/site.min.js"></script>
    <script type="text/javascript">
        var $WIDTH_SX = 768;

        resizeFooter();
        $(window).resize(function () {
            resizeFooter();
        });

        $('#game-list').geGameMenu();

        function resizeFooter() {
            var $footer = $('footer');
            var h = $footer.height();
            $footer.css({
                'position': 'absolute'
            });
            $('body').css('margin-bottom', h + 'px');
        }
    </script>
    @RenderSection("scripts", false)
</body>

</html>