@{
    Layout = null;
    var bgUrl = GE.WebUI.SiteSettings.Get(SX.WebCore.Resources.Settings.siteBgPath).ToString();
    var faveicon = GE.WebUI.SiteSettings.Get(SX.WebCore.Resources.Settings.siteFaveiconPath).ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @if (!Request.IsLocal)
    {
        <meta name='yandex-verification' content='6ffb2f4165dc2f9b' />
    }
    @if (ViewBag.Description != null)
    {
        <meta name="description" content="@ViewBag.Description" />
        <meta property="og:description" content="@ViewBag.Description" />
    }
    @if (ViewBag.Keywords != null)
    {
        <meta name="keywords" content="@ViewBag.Keywords" />
    }
    <title>@ViewBag.Title</title>
    <meta property="og:title" content="@ViewBag.Title"/>

    <link rel="shortcut icon" href="@(faveicon!=null?faveicon:"/content/dist/i/faveicon.png")" type="image/png" />

    <link href="~/Content/dist/css/site.min.css" rel="stylesheet" async />
    @RenderSection("styles", false)

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body @(bgUrl != null ? "style=background-image:url(" + bgUrl + ")" : null)>
    @Html.Partial(MVC.Shared.Views._NavBar)
    <div class="wrapper">
        @Html.Action(MVC.Games.GameList())
        <div class="container">
            @if (ViewBag.H1 != null)
            {
                <h1 @(ViewBag.H1CssClass != null ? "class=" + ViewBag.H1CssClass : null)>@ViewBag.H1</h1>
            }
            @RenderBody()
        </div>
    </div>
    @Html.Partial(MVC.Shared.Views._Footer)

    @Html.Partial(MVC.Shared.Views._Analytics)
    <script src="~/Content/dist/js/site.min.js"></script>
    <script type="text/javascript">
        var $WIDTH_SX = 768;

        resizeFooter();
        $(window).resize(function () {
            resizeFooter();
        });

        $('#game-list').geGameMenu();

        function resizeFooter() {
            var $footer = $('footer');
            var h = $footer.height();
            $footer.css({
                'position': 'absolute'
            });
            $('body').css('margin-bottom', h + 'px');
        }
    </script>
    @RenderSection("scripts", false)
</body>

</html>