@model VMMaterial[]
@{
    var inNewTab = Convert.ToBoolean(ViewBag.InNewTab);
}

@if (Model.Any())
{
    <div class="pop-mat">
        <h3 class="pop-mat__header">@ViewBag.PopularMaterialTitle</h3>
        <div class="row">
            @for (int i = 0; i < Model.Length; i++)
            {
                var item = Model[i];
                <div class="col-md-3">
                    <div class="content">
                        <div class="date">@item.DateOfPublication.ToString("dd.MM.yyyy")</div>
                        <h4 class="title">
                            <a href="@item.GetUrl(Url)" @(inNewTab?"target=_blank":null)>@item.Title</a>
                        </h4>
                        <ul class="list-unstyled list-inline info">
                            <li>
                                <i class="fa fa-comments-o"></i>: @item.CommentsCount
                            </li>
                            <li>
                                <i class="fa fa-thumbs-up "></i>: @item.LikeUpCount
                            </li>
                            <li>
                                <i class="fa fa-eye"></i>: @item.ViewsCount
                            </li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </div>
}
