@model SxVMMaterial[]
@{
    SxVMVideo item = null;
}

<div class="row" style="color:#fff;">
    @for (int i = 0; i < Model.Length; i++)
    {
        item = Model[i].Videos[0];

        <div class="col-md-4">
            <div style="position:relative; height:150px; margin-bottom:30px;">
                @Html.SxVideo(item, SX.WebCore.Providers.SxVideoProvider.VideoQuality.Medium)
            </div>
            <div style="margin-bottom:60px;">
                Дата: @item.PublishedAt<br />
                Видео: <a href="@item.VideoUrl" target="_blank">@item.VideoUrl</a><br />
                Канал: <a href="@item.VideoChannelUrl" target="_blank">@item.VideoChannelUrl</a>
            </div>
        </div>
    }
</div>

@section scripts{
    <script>
        loadScriptOnce('https://www.youtube.com/iframe_api');
    </script>
}
