@using SX.WebCore;
@model VMDetailAphorism
@{
    var title = ViewBag.Title;
    var h1 = ViewBag.H1;
    ViewBag.Title = title ?? Model.Aphorism.Title;
    ViewBag.PageImage = Model.Aphorism.Author!=null && Model.Aphorism.Author.PictureId.HasValue
        ? Url.ContentAbsUrl(Url.Action("Picture", "Pictures", new { id = Model.Aphorism.Author.PictureId }))
        : null;
    ViewBag.H1 = ViewBag.H1 ?? ViewBag.Title;
    ViewBag.Description = ViewBag.Description ?? (Model.Aphorism.Author!=null? Model.Aphorism.Author.Name+". ":null)+"Афоризмы, короткие изречения великих людей, коротко о главном";
    var author = Model.Aphorism.Author != null && Model.Aphorism.Author.Name != null ? Model.Aphorism.Author.Name : "Аноним";
}

@section styles{
    <style type="text/css">
        .share-buttons {
            margin-bottom: 30px;
            margin-top: 10px;
        }
    </style>
}

<div class="ap-page">
    <div class="row">
        <div class="col-md-9">
            <blockquote style="color:white;">
                @if (Model.Aphorism.Author != null && Model.Aphorism.Author.PictureId.HasValue)
                {
                    <figure class="author-img img-circle" style="background-image:url(@Url.Action("Picture", "Pictures", new { id=Model.Aphorism.Author.PictureId}));">

                    </figure>
                }
                @Html.Raw(Model.Aphorism.Html)
                <h4 class="small">@(author)</h4>
            </blockquote>
            @Html.SxShareButtons(global_asax.ShareButtons)

            @Html.Action("Edit", "Comments", new { mid = Model.Aphorism.Id, mct = SX.WebCore.Enums.ModelCoreType.Aphorism }))

            @*author*@
            @if (Model.TopForAuthor.Any())
            {
                @Html.Partial("_List", Model.TopForAuthor, new ViewDataDictionary { { "Author", author } })
                <div class="text-center">
                    <a href="@Url.Action("list", new { author=author=="Аноним"? "no":author})" class="btn btn-default btn-transparent white">Все афоризмы автора</a>
                </div>
            }

            @*category*@
            @if (Model.TopForCategory.Any())
            {
                @Html.Partial("_List", Model.TopForCategory, new ViewDataDictionary { { "Category", Model.Aphorism.Category.Title } })
                <div class="text-center">
                    <a href="@Url.Action("List", new { controller="Aphorisms", categoryId= Model.Aphorism.CategoryId})" class="btn btn-default btn-transparent white">Все афоризмы категории</a>
                </div>
            }
        </div>
        <div class="col-md-3">
            @Html.Action("Categories", new { controller = "Aphorisms", curCat = Model.Aphorism.CategoryId })
        </div>
    </div>
</div>

@section scripts{
    <script src="~/content/dist/js/goodshare.min.js"></script>
    <script src="~/content/dist/js/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="~/Content/dist/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Content/dist/js/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('section[id^="comments-"]').load('/comments/list?mid=' +@Model.Aphorism.Id +'&mct=' + '@SX.WebCore.Enums.ModelCoreType.Aphorism');
        });
    </script>
}