@using SX.WebCore;
@model VMDetailAphorism
@{
    var author = (VMAuthorAphorism)ViewBag.Author;
    var category = (VMMaterialCategory)ViewBag.Category;
    ViewBag.Title = ViewBag.Title ?? Model.Aphorism.Title;
    ViewBag.PageImage = Url.ContentAbsUrl(Url.Action("Picture", "Piuctures", new { id = author?.PictureId ?? Model.Aphorism?.FrontPictureId }));
    ViewBag.H1 = ViewBag.H1 ?? ViewBag.Title;
    ViewBag.Description = ViewBag.Description ?? (author != null ? author.Name + ". " : null) + "Афоризмы, короткие изречения великих людей, коротко о главном";

}

@section styles{
    <style type="text/css">
        .share-buttons {
            margin-bottom: 30px;
            margin-top: 10px;
        }
    </style>
}

@Html.SxBreadcrumbs((SxVMBreadcrumb[])ViewBag.Breadcrumbs)

<div class="ap-page">
    <div class="row">
        <div class="col-md-9">
            <blockquote style="color:white;">
                @if (author != null && author.PictureId.HasValue)
                {
                    <figure class="author-img img-circle" style="background-image:url(@Url.Action("Picture", "Pictures", new { id=author.PictureId}));">

                    </figure>
                }
                @Html.Raw(Model.Aphorism.Html)
                <h4 class="small">@(author == null ? "Аноним" : author.Name)</h4>
            </blockquote>
            @Html.SxShareButtons()

            @Html.Action("Edit", "Comments", new { mid = Model.Aphorism.Id, mct = 6/*aphorism*/ })

            @*author*@
            @if (Model.TopForAuthor.Any())
            {
                @Html.Partial("_List", Model.TopForAuthor, new ViewDataDictionary { { "Author", Model.Aphorism.Author} })
                <div class="text-center">
                    <a href="@Url.Action("List", new { author=author.TitleUrl})" class="btn btn-default btn-transparent white">Все афоризмы автора</a>
                </div>
            }

            @*category*@
            @if (Model.TopForCategory.Any())
            {
                @Html.Partial("_List", Model.TopForCategory, new ViewDataDictionary { { "Category", Model.Aphorism.Category } })
                <div class="text-center">
                    <a href="@Url.Action("List", "Aphorisms", new { categoryId= Model.Aphorism.CategoryId})" class="btn btn-default btn-transparent white">Все афоризмы категории</a>
                </div>
            }
        </div>
        <div class="col-md-3">
            @Html.Action("Categories", new { controller = "Aphorisms", curCat = Model.Aphorism.CategoryId })
        </div>
    </div>
</div>

@section scripts{
    <script src="@Url.Action("Js", "StaticContent", new { name="jquery.unobtrusive-ajax"})"></script>
    <script src="@Url.Action("Js", "StaticContent", new { name="jquery.validate"})"></script>
    <script src="@Url.Action("Js", "StaticContent", new { name="jquery.validate.unobtrusive"})"></script>
    <script src="~/Scripts/sxshare.js"></script>
    <script type="text/javascript">
        $(function () {
            $('section[id^="comments-"]').load('/comments/list?mid=' +@Model.Aphorism.Id +'&mct=6'/*aphorism*/);
        });
    </script>
}