@model VMEditSeoInfo
@{
    var isNew = Model.Id == 0;
    ViewBag.Title = isNew ? "Добавить страницу отслеживания" : "Редактировать страницу отслеживания \"" + Model.RawUrl + "\"";
}
<h2>@ViewBag.Title</h2>
<br />
@if (!isNew)
{
    <form method="post" action="delete">
        @Html.HiddenFor(x => x.Id)
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-danger pull-right">Удалить</button>
    </form>
}
<form method="post" action="@Url.Action(MVC.Seo.Edit())">
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.Id)

    <div class="row">
        <div class="col-md-12">
            @Html.LabelFor(x => x.RawUrl, new { @class = "control-label" })
            @Html.EditorFor(x => x.RawUrl, new { htmlAttributes = new { @class = "form-control", @placeholder = "Введите адрес" } })
            @Html.ValidationMessageFor(x => x.RawUrl)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            @Html.LabelFor(x => x.SeoTitle, new { @class = "control-label" })
            @Html.EditorFor(x => x.SeoTitle, new { htmlAttributes = new { @class = "form-control", @placeholder = "Введите заголовок страницы" } })
            @Html.ValidationMessageFor(x => x.RawUrl)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            @Html.LabelFor(x => x.SeoDescription, new { @class = "control-label" })
            @Html.EditorFor(x => x.SeoDescription, new { htmlAttributes = new { @class = "form-control", @placeholder = "Введите описание страницы" } })
            @Html.ValidationMessageFor(x => x.SeoDescription)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">@(Model.Id == 0 ? "Добавить" : "Сохранить")</button>
                @Html.RouteLink("Назад", new { action = "Index" }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
</form>