@model SX.WebCore.ViewModels.SxVMLogin
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>@(!string.IsNullOrEmpty(ViewBag.Title) ? ViewBag.Title + " | " + SX.WebCore.Resources.Settings.adminPanelName : SX.WebCore.Resources.Settings.adminPanelVersion)</title>
    <link rel="icon" href="~/faveicon.png" type="image/png" />

    <!-- Bootstrap -->
    <link href="~/Content/dist/css/site.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        html, body {
            height: 100%;
        }
    </style>
</head>
<body style="background: url('../../Content/i/background.jpg') center / cover;">
    <div class="form-block">
        <form class="form-signin" method="post" action="@Url.Action(MVC.Account.Login())">
            @Html.AntiForgeryToken()

            <h2 class="form-signin-heading">@SX.WebCore.Resources.Settings.adminPanelName</h2>
            <br />
            @Html.LabelFor(x => x.Email, new { @class = "sr-only control-label" })
            @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Адрес электронной почты" } })
            @Html.ValidationMessageFor(x => x.Email)
            <br />
            @Html.LabelFor(x => x.Password, new { @class = "sr-only control-label" })
            @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Пароль" } })
            @Html.ValidationMessageFor(x => x.Password)
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
            <br />
            <a href="mailto:simlex.dev.2014@gmail.com" class="text-muted small pull-right">Связаться с разработчиком</a>
        </form>
    </div>
    <script src="~/Content/dist/js/site.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('.form-signin').animate({
                'width':'420'
            }, function () {
                $(this).width(500);
            });
        });
    </script>
</body>
</html>