@model SxVMLogin
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SX Admin | Вход</title>

    <link rel="icon" href="~/content/dist/i/faveicon.png" type="image/png">

    <link href="~/content/dist/css/site.min.css" rel="stylesheet">
    <link href="~/content/dist/css/login.min.css" rel="stylesheet">
</head>
<body>

    <div class="container-fluid">
        <h1 class="login-header">SX Admin <br /><small class="login-header__small">Контролируй свой ASP.NET MVC сайт!</small></h1>
        <div class="login-desc">
            <div class="row">
                <div class="col-sm-4">
                    <div class="login-desc__item">
                        Хорошая новость для всех команд по World of Warships, наконец, наступило то самое время Большого турнира! Турнир уже успел начаться сегодня, 20 июня, в 8 часов вечера по Московскому времени, и 1/16 финала уже можно наблюдать на стриме! А уже завтра, на канале организаторов турнира, под названием «Корабли TV» можно будет пронаблюдать записи всех боёв и трансляций, проводимых на данный момент! Так что если вы пропустили сегодняшние битвы, в которых участвовали сильнейшие команды, то всегда можете заглянуть на их канал!
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="login-desc__item">
                        Хорошая новость для всех команд по World of Warships, наконец, наступило то самое время Большого турнира! Турнир уже успел начаться сегодня, 20 июня, в 8 часов вечера по Московскому времени, и 1/16 финала уже можно наблюдать на стриме! А уже завтра, на канале организаторов турнира, под названием «Корабли TV» можно будет пронаблюдать записи всех боёв и трансляций, проводимых на данный момент! Так что если вы пропустили сегодняшние битвы, в которых участвовали сильнейшие команды, то всегда можете заглянуть на их канал!
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="login-desc__item">
                        Хорошая новость для всех команд по World of Warships, наконец, наступило то самое время Большого турнира! Турнир уже успел начаться сегодня, 20 июня, в 8 часов вечера по Московскому времени, и 1/16 финала уже можно наблюдать на стриме! А уже завтра, на канале организаторов турнира, под названием «Корабли TV» можно будет пронаблюдать записи всех боёв и трансляций, проводимых на данный момент! Так что если вы пропустили сегодняшние битвы, в которых участвовали сильнейшие команды, то всегда можете заглянуть на их канал!
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="login-form">
        <div class="login-form__wrapper">
            <form method="post" action="/account/login">
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.LabelFor(x => x.Email)
                    @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(x => x.Email)
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.Password)
                    @Html.EditorFor(x => x.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(x => x.Password)
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary login-form__btn">Вход</button>
                </div>
            </form>
        </div>
    </div>

    <footer class="footer">
        <div class="container-fluid">
            <div class="text-muted">
                <div class="row">
                    <div class="col-sm-6">
                        © Все права защищены, 2015 - @DateTime.Now.Year год
                    </div>
                    <div class="col-sm-6">
                        <div class="footer__preambule">
                            Любое использование или копирование материалов сайта - только с разрешения правообладателя и только с указанием ссылки на сайт<br />
                            По всем вопросам настройки и установки обращаться по адресу: <a href="mailto:simlex.dev.2014@gmail.com" class="text-muted login-form__dev-link">simlex.dev.2014@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/content/dist/js/site.min.js"></script>
    <script src="~/content/dist/js/jquery.validate.min.js"></script>
    <script src="~/content/dist/js/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>

