@model SxVMProjectStep
@{
    Layout = null;
}
<div id="pstep-@Model.Id" class="panel panel-@(Model.IsDone?"success":"default") spets" data-o-id="@Model.ParentStepId">
    <div class="panel-heading">
        <strong>@Model.Title</strong><br />
        <span class="small"><abbr title="Дата создания">DC</abbr>: @Model.DateCreate</span><br />
        <span class="small"><abbr title="Дата редактирования">DU</abbr>: @Model.DateUpdate</span>
        <ul class="btns">
            <li><a href="javascript:void(0)" data-toggle="tooltip" title="Переместить вверх" data-dir="up"><i class="fa fa-angle-up"></i></a></li>
            <li><a href="javascript:void(0)" data-toggle="tooltip" title="Переместить вниз" data-dir="down"><i class="fa fa-angle-down"></i></a></li>
        </ul>
    </div>
    <div class="panel-body">
        <p>@Model.Foreword</p>
        <div class="text-right">
            <a href="javascript:void(0)" data-toggle="tooltip" title="Развернуть" onclick="fillProjectStepHtml(this)" data-id="@Model.Id"><i class="fa fa-angle-double-down"></i></a>
        </div>
    </div>
    <div class="panel-footer">
        <ul class="list-unstyles list-inline text-left">
            <li>
                <form method="post" action="@Url.Action("replacedone", new { controller="projectsteps", id=Model.Id, done=!Model.IsDone})">
                    @Html.AntiForgeryToken()
                    <button class="btn btn-xs btn-@(Model.IsDone?"danger":"success")">@(Model.IsDone ? "Отменить выполнение" : "Выполнить")</button>
                </form>
            </li>
            <li>
                <a class="btn btn-xs btn-primary" href="@Url.Action("edit", new { controller="projectsteps", id=Model.Id, pid=Model.ParentStepId})">Править</a>
            </li>
            <li>
                <a class="btn btn-xs btn-default" href="@Url.Action("edit", new { controller="projectsteps", pid=Model.Id})">Добавить</a>
            </li>
        </ul>
    </div>
</div>