@model VMMenuItemList

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            Пункты меню <a class="btn btn-default btn-sm" href="@Url.Action(MVC.MenuItems.Edit(Model.MenuId))">Добавить</a> <a class="btn btn-default btn-sm" href="@Url.Action(MVC.Routes.Index())">Маршруты</a> <span class="badge pull-right">@Model.Items.Length</span>
        </h4>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            @foreach (var item in Model.Items)
            {
                <li class="list-group-item">
                    <span>@item.Caption</span>
                    @if (!string.IsNullOrEmpty(item.Url))
                    {
                        @:&nbsp;
                        <span>[ <a href="@Url.Action(MVC.Routes.Edit(item.Route.Id))">@item.Url</a> ]</span>
                    }
                    
                    <div class="pull-right">
                        <a class="btn btn-default btn-xs" href="@Url.Action(MVC.MenuItems.Edit(Model.MenuId, item.Id))">Изменить</a>
                        <button type="button" class="btn btn-danger btn-xs" onclick="deleteMenuItem(this, @Model.MenuId, @item.Id, '@Url.Action(MVC.MenuItems.Delete())')">Удалить</button>
                    </div>
                </li>
            }
        </ul>
    </div>

</div>
