@model VMGame[]
@{
    ViewBag.Title = "Игры";
}

<h2>Игры</h2>
<br />
<div id="grid-games">
    @Html.Partial("_GridView", Model)
</div>

@Html.Partial("_ModalSteamApps")
@Html.Partial("_ModalLinkedSteamApps")

@section scripts{
    <script src="~/Areas/Admin/Scripts/games.js"></script>
    <script>
        $(function () {
            var grid = new SxGridView('#grid-games');

            var games = new Games('@Url.Action("AppIndexFree", "Steam")', '@Url.Action("AppIndexLinked", "Steam")', '@Url.Action("LinkSteamApps", "Steam")', '@Url.Action("UnlinkSteamApps", "Steam")', grid);
        });
    </script>
}