@model VMGame[]
@{
    ViewBag.Title = "Игры";
}

<h2>Игры</h2>
<br />
<div id="grid-games">
    @Html.Partial("_GridView", Model)
</div>

@Html.Partial("_ModalSteamApps")
@Html.Partial("_ModalLinkedSteamApps")
@Html.Partial("_ModalSteamAppNews")

@section scripts{
    <script src="~/Areas/Admin/Scripts/games.js"></script>
    <script src="@Url.Action("Js", "StaticContent", new { name="jquery-signalr", area="" })"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var grid = new SxGridView('#grid-games');

            var steamAppsHub = $.connection.hubSteamApps;
            steamAppsHub.client.insertModalAppNewsHtml = function (html) {
                $('#modal-steam-app-news-body').append(html);
            }

            steamAppsHub.client.addModalAppNewsProcessedCount = function (appId, result) {
                var input=$('#modal-steam-app-news-body input[value="' + appId + '"]');
                var progress = input.closest("tr").find(".game-modal-steam-apps-table__progress");
                if (result.Status == 'ok') {
                    if (result.Count == 0) {
                        input.removeAttr('checked');
                        input.closest("tr").addClass('text-muted');
                        input.attr('disabled', 'disabled');
                    }
                    else {
                        progress.append('<span class="badge">' + result.Count + '</span>');
                    }

                }
                else if (result.Status == 'error') {
                    progress.html('<span class="text-danger">' + result.Message + '</span>');
                    input.removeAttr('checked');
                    input.closest("tr").addClass('text-muted');
                    input.attr('disabled', 'disabled');
                }
            }

            steamAppsHub.client.showAddNewsButton = function (gameId) {
                var btn = $('#game-steam-app-news-add-btn');
                btn.removeAttr('disabled');
                btn.attr('data-game-id', gameId);
            }

            var progress = $('<div class="progress" style="margin-bottom:0; height:10px;"><div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>');
            steamAppsHub.client.fillNewsProgress = function (steamAppId, percent) {
                var input = $('#modal-steam-app-news-body input[value="' + steamAppId + '"]');
                var p = input.closest("tr").find(".game-modal-steam-apps-table__progress");
                if (p.find('.progress').length == 0)
                    p.html(progress.clone());
                else
                    p.find('.progress-bar').css("width", percent + '%');
            }

            steamAppsHub.client.showAddNewsSuccess = function () {
                $('#modal-steam-app-news-body').html('<div class="alert alert-success">Новости успешно добавлены в БД для модерации</br>Пройдите на <a href="@Url.Action("Index", "News")" style="text-decoration:underline">страницу новостей</a> по этой ссылке для редактирования</div>');
            };

            $.connection.hub.start(function () {
                var games = new Games('@Url.Action("AppIndexFree", "Steam")', '@Url.Action("AppIndexLinked", "Steam")', '@Url.Action("LinkSteamApps", "Steam")', '@Url.Action("UnlinkSteamApps", "Steam")', grid);

                $('#modal-steam-app-news').on('shown.bs.modal', function (e) {
                    var gameId = $(e.relatedTarget).closest('tr').attr('data-row-id');
                    steamAppsHub.server.getNewsForApp(gameId);
                });

                $('#game-steam-app-news-close-btn').click(function () {
                    steamAppsHub.server.clearNewsList();
                });

                $('#game-steam-app-news-add-btn').click(function (e) {
                    var btn = $(e.currentTarget);
                    btn.attr('disabled', 'disabled');
                    var steamAppArray = new Array();
                    $('#modal-steam-app-news-body input[type="checkbox"]').each(function () {
                        var input = $(this);
                        if (input.is(":checked"))
                            steamAppArray.push(input.attr('value'));
                    });

                    var gameId = btn.attr('data-game-id');
                    steamAppsHub.server.addNews(gameId, steamAppArray);
                });
            });
        });
    </script>
}