@model VMEditManualGroup
@{
    var isNew = Model.Id == null;
    ViewBag.Title = isNew ? "Добавить раздел справки" : "Редактировать раздел справки \"" + Model.Title + "\"";
}

<h2>@ViewBag.Title</h2>

@*@if (!isNew)
{
    <p class="lead text-info">Для обновления доступно только описание типа статьи.</p>
    <form method="post" action="delete">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.GameId)
        @Html.HiddenFor(x => x.Name)
        <button type="submit" class="btn btn-danger pull-right" onclick="if (!confirm('Удалить запись?')) return false;">Удалить</button>
    </form>
}*@
<br />
<form method="post" action="@Url.Action(MVC.ManualGroups.Edit())">
    @Html.AntiForgeryToken()
    @if (!isNew)
    {
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.ParentGroupId)
    }

    @if (isNew)
    {
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(x => x.Id, new { @class = "control-label" })
                <span class="text-info"> (не должен содержать кириллицы и любых знаков, кроме тире)</span>
                @Html.EditorFor(x => x.Id, new { htmlAttributes = new { @class = "form-control", @placeholder = "Введите название типа статьи" } })
                @Html.ValidationMessageFor(x => x.Id)
            </div>
        </div>
        <br />
    }
    <div class="row">
        <div class="col-md-12">
            @Html.LabelFor(x => x.Title, new { @class = "control-label" })
            @Html.EditorFor(x => x.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(x => x.Title)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">@(isNew ? "Добавить" : "Сохранить")</button>
            @Html.RouteLink("Назад", new { controller = "ManualGroups", action = "Index" }, new { @class = "btn btn-default" })
        </div>
    </div>
</form>