@model Article
@{
    Layout = null;
    var info = new VMMateriallnfo
    {
        DateOfPublication = Model.DateOfPublication,
        CommentsCount = Model.CommentsCount,
        ViewsCount = Model.ViewsCount
    };

    var year = Model.DateCreate.Year;
    var month = Model.DateCreate.Month.ToString("00");
    var day = Model.DateCreate.Day.ToString("00");
    var titleUrl = Model.TitleUrl;
    var picureId = Model.FrontPictureId != null ? Model.FrontPictureId : (Model.Game != null ? Model.Game.BadPictureId : Guid.Empty);
}

<figure class="mat-f-p">
    @if (picureId.HasValue)
    {
        <img alt="@Model.Title" src="@Url.Action(MVC.Pictures.Picture((Guid)picureId, width: 300))" />
    }
    else
    {
        <img alt="@Model.Title" src="~/Content/dist/i/article-empty.png" />
    }
    <i class="text-muted small hidden-sm">Инфорграфика по статистике для статьи в разработке</i><br />
</figure>

<div class="content">
    @if (Model.VideoLinks.Count > 0)
    {
        var video = Model.VideoLinks.First().Video;
        <div class="list-video">
            @Html.SxVideo(video, SX.WebCore.Providers.VideoProvider.VideoQuality.Medium)
        </div>
    }

    <a class="link" href="@Url.Action(MVC.Articles.Details(year, month, day, titleUrl))" title="@Model.Title">@Model.Title</a>
    <p class="foreword">
        @Model.Foreword
    </p>
    @if (Model.User != null)
    {
        <div class="author">
            <i>Автор: <strong>@Model.User.NikName</strong></i>
        </div>
    }
    @if (Model.Game != null)
    {
        <div class="game">
            <i>Игра: <strong>@Model.Game.Title</strong></i>
        </div>
    }
</div>
<div class="info">
    <div class="row">
        <div class="col-md-6">@Html.DisplayFor(x => info)</div>
        <div class="col-md-6"><a class="btn btn-default btn-transparent muted-blue" href="@Url.Action(MVC.Articles.Details(year, month, day, titleUrl))">Подробнее</a></div>
    </div>
</div>