@model VMMaterial
@{
    Layout = null;
    var url = Model.Url(Url);
    var picureId = Model.FrontPictureId != null ? Model.FrontPictureId : (Model.Game != null ? Model.Game.BadPictureId : Guid.Empty);
}

<figure class="mat-f-p">
    @if (picureId.HasValue)
    {
        <img alt="@Model.Title" src="@Url.Action("Picture", "Pictures", new { id=picureId, width= 300}))" />
    }
    else
    {
        <img alt="@Model.Title" src="~/Content/dist/i/article-empty.png" />
    }
    <i class="text-muted small hidden-sm">Инфорграфика по статистике для статьи в разработке</i><br />
</figure>

<div class="content">
    @if (Model.Videos.Length > 0)
    {
        var video = Model.Videos.First();
        <div class="list-video">
            @Html.SxVideo(video, SX.WebCore.Providers.SxVideoProvider.VideoQuality.Medium)
        </div>
    }

    <a class="link" href="@url" title="@(Model.SeoTags != null ? Model.SeoTags.H1 : Model.Title)">@(Model.SeoTags != null ? Model.SeoTags.H1 : Model.Title)</a>
    <p class="foreword">
        @Model.Foreword
    </p>
    @if (Model.User != null)
    {
        <div class="author">
            <i>Автор: <strong>@Model.User.NikName</strong></i>
        </div>
    }
    @if (Model.Game != null)
    {
        <div class="game">
            <i>Игра: <strong>@Model.Game.Title</strong></i>
        </div>
    }
</div>
<div class="info">
    <div class="row">
        <div class="col-md-6">@Html.Partial("_MaterialInfo", Model)</div>
        <div class="col-md-6"><a class="btn btn-default btn-transparent muted-blue" href="@Model.Url(Url)">Подробнее</a></div>
    </div>
</div>