@model VMMaterial
@{
    var url = Model.GetUrl(Url);
}

<figure class="mat-f-p">
    @if (Model.FrontPicture != null)
    {
        <img alt="@Model.Title" src="@Url.Action("Picture", "Pictures", new { id=Model.FrontPicture.Id, width= 300}))" />
    }
    else
    {
        var defPicturIdeSetting = SX.WebCore.MvcApplication.SxMvcApplication.SiteSettingsProvider["empty-article-picture-id"]?.Value;
        <img alt="@Model.Title" src="@(defPicturIdeSetting!=null?Url.Action("Picture", "Pictures", new { id=defPicturIdeSetting}) : "~/Content/dist/i/article-empty.png")" />
    }
    <i class="text-muted small hidden-sm">Инфорграфика по статистике для статьи в разработке</i><br />
</figure>

<div class="content">
    @if (Model.Videos.Length > 0)
    {
        var video = Model.Videos.First();
        <div class="list-video">
            @Html.SxVideo(video, SX.WebCore.Providers.SxVideoProvider.VideoQuality.Medium)
        </div>
    }

    <a class="link" href="@url" title="@(Model.SeoTags != null ? Model.SeoTags.H1 : Model.Title)">@(Model.SeoTags != null ? Model.SeoTags.H1 : Model.Title)</a>
    <p class="foreword">
        @Model.Foreword
    </p>
    @if (Model.User != null)
    {
        <div class="author">
            <i>Автор: <strong>@Model.User.NikName</strong></i>
        </div>
    }
    @if (Model.Game != null)
    {
        <div class="game">
            <i>Игра: <strong>@Model.Game.Title</strong></i>
        </div>
    }
</div>
<div class="info">
    <div class="row">
        <div class="col-md-6">@Html.Partial("_MaterialInfo", Model)</div>
        <div class="col-md-6"><a class="btn btn-default btn-transparent muted-blue" href="@Model.GetUrl(Url)">Подробнее</a></div>
    </div>
</div>