@model SX.WebCore.SxSeoPhrase[]

@if(Model.Any())
{
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Фраза</th>
                <th>Кол-во слов</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Length; i++)
            {
                var item = Model[i];
                <tr>
                    <td>
                        @item.Text
                    </td>
                    <td>
                        @item.WordCount
                    </td>
                </tr>
            }
        </tbody>
    </table>

    if (Model.Any())
    {
        <div class="text-left">
            <br />
            <ul class="list-unstyled list-inline">
                <li>
                    @using (Ajax.BeginForm(MVC.SeoWordCounter.Delete(), new AjaxOptions { HttpMethod = "post", UpdateTargetId = "phrases" }))
                    {
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-default" onclick="$('#text').val('')"><i class="fa fa-refresh"></i> Очистить</button>
                    }
                </li>
                <li>
                    <form method="post" action="@Url.Action(MVC.SeoWordCounter.Report())">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-primary"><i class="fa fa-download"></i> Скачать</button>
                    </form>
                </li>
            </ul>
        </div>
    }
}
