@model VMEditClickType
@{
    var isNew = Model.Id == 0;
    ViewBag.Title = isNew ? "Добавить тип статистики кликов" : "Редактировать тип статистики кликов \"" + Model.Name + "\"";
}

<h2>@ViewBag.Title</h2>
<br />
<form method="post" action="@Url.Action(MVC.ClickTypes.Edit())">
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.Id)

    <div class="row">
        <div class="col-md-12">
            @Html.LabelFor(x => x.Name, new { @class = "control-label" })
            @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "form-control", @placeholder="Введите наименование типа статистики кликов" } })
            @Html.ValidationMessageFor(x => x.Name)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            @Html.LabelFor(x => x.Description, new { @class = "control-label" })
            @Html.EditorFor(x => x.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Введите описание типа статистики кликов" } })
            @Html.ValidationMessageFor(x => x.Description)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">@(isNew ? "Добавить" : "Сохранить")</button>
            @Html.ActionLink("Назад", MVC.ClickTypes.Index(), new { @class = "btn btn-default" })
        </div>
    </div>
</form>