@model VMEditNews
@{
    var isNew = Model.Id == 0;
    ViewBag.Title = isNew ? "Добавить новость" : "Редактировать новость \"" + Model.Title + "\"";
    ViewBag.GameTitle = isNew || !Model.GameId.HasValue ? null : Model.Game.Title;
    ViewBag.MaterialCategoryTitle = isNew || Model.CategoryId == null ? null : Model.Category.Title;
}
<h2>@ViewBag.Title</h2>
@if (!isNew)
{
    <div class="text-right">
        <form method="post" action="delete">
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.ModelCoreType)
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-danger" onclick="if (!confirm('Удалить запись?')) { return false;}">Удалить новость</button>
        </form>
    </div>
}
<br />

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#params" aria-controls="params" role="tab" data-toggle="tab">Параметры</a></li>
    <li role="presentation"><a href="#tags-cloud" aria-controls="tags-cloud" role="tab" data-toggle="tab">Облако тегов</a></li>
    <li role="presentation"><a href="#seo" aria-controls="seo" role="tab" data-toggle="tab">Seo</a></li>
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="params">
        <h2>Основные параметры материала</h2>
        <form method="post" action="@Url.Action(MVC.News.Edit())">
            @Html.AntiForgeryToken()

            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.ModelCoreType)
            @Html.HiddenFor(x => x.OldTitleUrl)
            @if (!isNew)
            {
                @Html.HiddenFor(x => x.UserId)
            }

            <div class="row">
                <div class="col-md-@(isNew?9:6)">
                    @Html.LabelFor(x => x.Title, new { @class = "control-label" })
                    @Html.EditorFor(x => x.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(x => x.Title)
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(x => x.Show, new { @class = "control-label" })
                    @Html.EditorFor(x => x.Show, new { htmlAttributes = new { @class = "form-control", @placeholder = "Введите название статьи" } })
                    @Html.ValidationMessageFor(x => x.Show)
                </div>
                @if (!isNew)
                {
                    <div class="col-md-3">
                        @Html.LabelFor(x => x.DateOfPublication, new { @class = "control-label" })
                        @Html.EditorFor(x => x.DateOfPublication, new { htmlAttributes = new { @class = "form-control", @placeholder = "Введите дату публикации" } })
                        @Html.ValidationMessageFor(x => x.DateOfPublication)
                    </div>
                }
            </div>
            <br />
            @if (!isNew && !string.IsNullOrEmpty(Model.TitleUrl) && User.IsInRole("architect"))
            {
                <div class="row">
                    <div class="col-md-12">
                        @Html.LabelFor(x => x.TitleUrl, new { @class = "control-label" })
                        <span class="text-info"> (применяется для уникальной идентификации материала)</span>
                        @Html.EditorFor(x => x.TitleUrl, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(x => x.TitleUrl)
                    </div>
                </div>
                <br />
            }
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(x => x.GameId, new { @class = "control-label" })
                    @Html.EditorFor(x => x.GameId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(x => x.GameId)
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(x => x.CategoryId, new { @class = "control-label" })
                    @Html.EditorFor(x => x.CategoryId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(x => x.CategoryId)
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(x => x.FrontPictureId, new { @class = "control-label" })
                    @if (!isNew && Model.FrontPictureId.HasValue)
                    {
                        @:&nbsp;
                        <a href="@Url.Action(MVC.Pictures.Picture((Guid)Model.FrontPictureId))">Показать</a>
                    }
                    @Html.EditorFor(x => x.FrontPictureId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(x => x.FrontPictureId)
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(x => x.ShowFrontPictureOnDetailPage, new { @class = "control-label" })
                    @Html.EditorFor(x => x.ShowFrontPictureOnDetailPage, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(x => x.ShowFrontPictureOnDetailPage)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    @Html.LabelFor(x => x.Foreword, new { @class = "control-label" })
                    @Html.EditorFor(x => x.Foreword, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(x => x.Foreword)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <button data-toggle="modal" title="Посмотреть результат" data-target="#matModal" type="button" class="btn btn-default"><i class="fa fa-eye"></i></button>&nbsp;
                    @Html.LabelFor(x => x.Html, new { @class = "control-label" }) <br /><br />
                    @Html.EditorFor(x => x.Html, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(x => x.Html)
                    @Html.Partial(MVC.Shared.Views._MaterialModal, Model)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">@(Model.Id == 0 ? "Добавить" : "Сохранить")</button>
                        @Html.RouteLink("Назад", new { action = "Index" }, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div role="tabpanel" class="tab-pane" id="tags-cloud">
        @if (!isNew)
        {
            <div class="row">
                <div class="col-md-12">
                    <div id="grid-mat-tags">
                        @Html.Action(MVC.MaterialTags.Index(mid: Model.Id, mct: Model.ModelCoreType))
                    </div>
                </div>
            </div>
        }
    </div>
    <div role="tabpanel" class="tab-pane" id="seo">
        @if (!isNew)
        {
            <div class="row">
                <div class="col-md-12">
                    <div id="grid-mat-tags">
                        @Html.Action(MVC.SeoInfo.EditForMaterial(mid: Model.Id, mct: Model.ModelCoreType, id: Model.SeoInfoId))
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/bower_components/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        if (CKEDITOR.instances['Html']) {
            CKEDITOR.remove(CKEDITOR.instances['Html']);
        }
        CKEDITOR.replace('Html', { height: 400 });

        $(function () {
            $('#matModal').on('show.bs.modal', function (e) {
                $(this).find('.modal-title').html($('#Title').val());
                $(this).find('.modal-body').html($('#Html').val());
            })
        });
    </script>
}
