@model SxVMEditSiteTestBlock
@{
    var isNew = Model.Id == 0;
    ViewBag.Title = Model.Id == 0 ? "Добавить блок теста сайта" : "Редактировать блок теста \"" + Model.Title + "\"";
}

<h2>@ViewBag.Title</h2>

@if (!isNew)
{
    <div class="text-right">
        <div class="form-group">
            <form method="post" action="/sitetestblocks/delete">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.Id)
                <button type="submit" class="btn btn-danger" onclick="if(!confirm('Удалить запись?')){return false;}">Удалить блок</button>
            </form>
        </div>
    </div>
}

<form method="post" action="edit" autocomplete="off">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(x => x.Title, new { @class = "control-label" })
                @Html.EditorFor(x => x.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Введите название группы" } })
                @Html.ValidationMessageFor(x => x.Title)
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(x => x.TestId, new { @class = "control-label" })
                @Html.EditorFor(x => x.TestId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Тест для привязки" } })
                @Html.ValidationMessageFor(x => x.TestId)
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Description, new { @class = "control-label" })
        @Html.EditorFor(x => x.Description, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(x => x.Description)
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">@(Model.Id == 0 ? "Добавить" : "Сохранить")</button>
        @Html.RouteLink("Назад", new { action = "Index", controller = "sitetestblocks" }, new { @class = "btn btn-default" })
    </div>
</form>

@section scripts{
    <script>
        $('#TestId').sx_gvl();
    </script>
}