@model VMFGBlock
@{
    Layout = null;
}

<!--for gamers block-->
<aside class="f-g-b">
    <h2 class="header">Геймеру почитать</h2>
    <div class="content">
        <div class="row">
            <div class="col-md-3">
                <h3>Категории</h3>
                <ul class="games">
                    @for (int i = 0; i < Model.GameLength; i++)
                    {
                        var game = Model.Games[i];
                        <li @(Model.SelectedGameTitle!=null && Model.SelectedGameTitle.ToLowerInvariant()==game.TitleUrl.ToLowerInvariant()?"class=selected":null)>
                            <a href="#" rel="nofollow" data-game-title="@game.TitleUrl">
                                <figure>
                                    <img alt="@game.Title" src="@Url.Action(MVC.Pictures.Picture(game.FrontPictureId, height:80))" />
                                    <h4>@game.Title</h4>
                                    <span class="desc">@game.Description</span>
                                </figure>
                            </a>
                            <a href="@Url.Action("list", new { controller="articles", gameTitle=game.TitleUrl})" class="link">Кликнуть, чтобы открыть новую вкладку со статьями по игре @game.Title</a>
                            <ul class="dropdown">
                                @for (int y = 0; y < game.MaterialCategoryLength; y++)
                                {
                                    var cat = game.MaterialCategories[y];
                                    var title = cat.Title;
                                    <li>
                                        <a title="@title" href="#" data-game-title="@game.TitleUrl" data-category-id="@cat.Id">@title</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </div>
            <div class="col-md-9">
                <h3>Анонсы статей</h3>
                <div id="materials-preview">
                    @Html.Partial(MVC.Articles.Views._Preview, Model.Articles)
                </div>
            </div>
        </div>
    </div>
</aside>