@model VMFGBlock
@{
    Layout = null;
}

<!--for gamers block-->
<aside class="f-g-b">
    <h2>Геймеру почитать</h2>
    <div class="content">
        <div class="row">
            <div class="col-md-3">
                <h3>Категории</h3>
                <ul class="games">
                    @for (int i = 0; i < Model.GameLength; i++)
                    {
                        var game = Model.Games[i];
                        <li>
                            <a href="#" rel="noreferrer">
                                <figure>
                                    <img alt="@game.Title" src="@Url.Action(MVC.Pictures.Picture(game.FrontPictureId, height:80))" />
                                    <h4>@game.Title</h4>
                                    <span class="desc">@game.Description</span>
                                </figure>
                            </a>
                            <a href="#" class="link">Кликнуть, чтобы открыть новую вкладку со статьями по игре @game.Title</a>
                            <ul class="dropdown">
                                @for (int y = 0; y < game.ArticleTypeLength; y++)
                                {
                                    var aType = game.ArticleTypes[y];
                                    var title = "Показать " + aType.Description + " в блоке просмотра";
                                    <li>
                                        <a title="@title" href="#" data-game-id="@game.Id" data-article-type="@aType.Name">@title</a>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </div>
            <div class="col-md-9">
                <h3>Анонсы статей</h3>
                <div id="materials-preview">

                </div>
            </div>
        </div>
    </div>
</aside>