@model VMPreviewArticle[]
@{
    Layout = null;
    var colCount = 2;
    var rowsCount = (int)Math.Ceiling((decimal)Model.Length / colCount);
}

@for (int y = 0; y < rowsCount; y++)
{
    var rows = Model.Skip(y * colCount).Take(colCount).ToArray();
    <div class="row">
        @for (int i = 0; i < rows.Length; i++)
        {
            var m = rows[i];
            <div class="col-md-6">
                <div class="pv-article">
                    <h5 class="title">
                        <a href="@Url.Action(MVC.Articles.Details(m.DateCreate.Year, m.DateCreate.Month.ToString("00"), m.DateCreate.Day.ToString("00"), m.TitleUrl))" target="_blank">@m.Title</a>
                    </h5>
                    @Html.DisplayFor(x => m.Info)
                    <p class="foreword">
                        @m.Foreword
                    </p>
                    <div>
                        @if(!string.IsNullOrEmpty(m.UserName))
                        {
                            <div><i>Автор: <strong>@m.UserName</strong></i></div>
                        }
                        @if (!string.IsNullOrEmpty(m.GameTitle))
                        {
                            <div><i>Игра: <strong>@m.GameTitle</strong></i></div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}
<div class="text-center">
    <a href="@Url.Action("list", new { controller="articles", game=ViewBag.GameTitle})" class="btn btn-default btn-transparent red">Все записи</a>
</div>
