@model VMMaterial[]
@{
    Layout = null;
    var colCount = 2;
    var rowsCount = (int)Math.Ceiling((decimal)Model.Length / colCount);
    VMMaterial m;
}

@for (int y = 0; y < rowsCount; y++)
{
    var rows = Model.Skip(y * colCount).Take(colCount).ToArray();
    <div class="row">
        @for (int i = 0; i < rows.Length; i++)
        {
            m = rows[i];
            <div class="col-md-6">
                <div class="pv-article">
                    <h5 class="title">
                        <a href="@m.Url(Url)" target="_blank">@m.Title</a>
                    </h5>
                    <ul class="mat-info">
                        <li>
                            <i class="fa fa-clock-o"></i>: @(m.DateOfPublication.ToString("dd.MM.yyy"))
                        </li>
                        <li>
                            <i class="fa fa-eye"></i>: @m.ViewsCount
                        </li>
                        <li>
                            <i class="fa fa-comments-o"></i>: @m.CommentsCount
                        </li>
                    </ul>
                    <p class="foreword">
                        @m.Foreword
                    </p>
                    <div>
                        @if(m.User!=null)
                        {
                            <div><i>Автор: <strong>@m.User.NikName</strong></i></div>
                        }
                        @if (m.Game!=null)
                        {
                            <div><i>Игра: <strong>@m.Game.Title</strong></i></div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}
<div class="text-center">
    <a href="@Url.Action("List", new { controller="articles", game=ViewBag.GameTitle})" class="btn btn-default btn-transparent red">Все записи</a>
</div>
