@model VMDetailArticle
@{
    var title = ViewBag.Title;
    var h1 = ViewBag.H1;
    ViewBag.Title = title ?? Model.Title;
    ViewBag.H1 = ViewBag.H1 ?? ViewBag.Title;
    ViewBag.Description = ViewBag.Description ?? Model.Foreword;
    ViewBag.PageImage = Model.FrontPictureId.HasValue ? Url.Action(MVC.Pictures.Picture((Guid)Model.FrontPictureId)) : null;
}

<div class="detail-article">
    @Html.Partial(MVC.Shared.Views._Breadcrumbs, (VMBreadcrumb[])ViewBag.Breadcrumbs)

    @Html.Partial(MVC.Shared.Views._Foreword, Model)

    <div class="m-html">
        @Html.Action(MVC.Articles.Popular(mct: Model.ModelCoreType, mid: Model.Id, amount: 4))
        @if (Model.FrontPictureId.HasValue && Model.ShowFrontPictureOnDetailPage)
        {
            <img class="f-picture" alt="@Model.Title" src="@Url.Action(MVC.Pictures.Picture((Guid)Model.FrontPictureId))" />
        }
        @Html.Raw(Model.Html)
        @Html.Partial(MVC.Shared.Views._Share42, Model)
    </div>

    @Html.Partial(MVC.Shared.Views._MaterialInfo, Model)

    @*aphorisms*@
    <div id="aphorisms">
        @{Html.RenderAction("random", new { controller = "aphorism" }); }
    </div>

    <div id="by-date-mat">
        @Html.Action(MVC.Articles.ByDateMaterial(mid: Model.Id, mct: Model.ModelCoreType))
    </div>

    @Html.Action(MVC.MaterialTags.List(mid: Model.Id, mct: Model.ModelCoreType, maxFs: 30))
    @Html.Action("likematerials", new { controller = "articles", materialId = Model.Id, modelCoreType = Model.ModelCoreType, amount = 9 })

    @*comments*@
    <div class="comments">
        <h5 class="text-uppercase">Оставить комментарий</h5>
        <br />
        <div id="new-comment">
            @Html.Action(MVC.Comments.Create(mid: Model.Id, mct: Model.ModelCoreType))
        </div>
        <br />
        <h5 class="text-uppercase">Последние комментарии</h5>
        <div id="comments-list">
            @Html.Action(MVC.Comments.List(mid: Model.Id, mct: Model.ModelCoreType))
        </div>
    </div>

</div>

@section scripts{
    <script type="text/javascript" src="~/share42/share42.js"></script>
    <script type="text/javascript" src="~/Content/dist/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Content/dist/js/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/Content/dist/js/currency-provider.min.js"></script>
    <script type="text/javascript" src="~/Content/dist/js/ge-aphorisms.min.js"></script>
    <script type="text/javascript">
        loadScriptOnce('https://www.youtube.com/iframe_api');
        $(function () {
            $('#aphorisms').geAphorisms();
        });
    </script>
}