@model VMDetailArticle
@{
    var title = ViewBag.Title;
    var h1 = ViewBag.H1;
    ViewBag.Title = title ?? Model.Title;
    ViewBag.H1 = ViewBag.H1 ?? ViewBag.Title;
    ViewBag.H1CssClass = ViewBag.H1CssClass ?? Model.ArticleTypeName;
    ViewBag.Description = ViewBag.Description ?? Model.Foreword;
    ViewBag.PageImage = Model.FrontPictureId.HasValue ? Url.Action(MVC.Pictures.Picture((Guid)Model.FrontPictureId)) : null;
}
@section styles{
    @if (Model.ThemeColor != null)
    {
        <style type="text/css">
        .@Model.ArticleTypeName{
            color:@Model.ThemeColor;
        }

        .m-html{
            border-top:6px solid @Model.ThemeColor;
        }

            .m-html hr{
                border-top:1px solid @Model.ThemeColor;
            }

            .m-fwd{
                border-left-color:@Model.ThemeColor;
            }
        </style>
    }
}

<div class="detail-article">
    @Html.Partial(MVC.Shared.Views._Breadcrumbs, (VMBreadcrumb[])ViewBag.Breadcrumbs)
    
    @Html.Partial(MVC.Shared.Views._Foreword, Model)

    <div class="m-html">
        @if (Model.FrontPictureId.HasValue && Model.ShowFrontPictureOnDetailPage)
        {
            <img class="f-picture" alt="@Model.Title" src="@Url.Action(MVC.Pictures.Picture((Guid)Model.FrontPictureId))" />
        }
        @Html.Raw(Model.Html)
        @*@Html.Partial(MVC.Shared.Views._SocNetButtons)*@
        @Html.Partial(MVC.Shared.Views._Share42, Model)
    </div>

    @Html.Partial(MVC.Shared.Views._MaterialInfo, Model)

    @Html.Action(MVC.MaterialTags.List(mid: Model.Id, mct: Model.ModelCoreType, maxFs: 30))
    @Html.Action("likematerials", new { controller = "articles", materialId = Model.Id, modelCoreType = Model.ModelCoreType, amount = 9 })

    @*comments*@
    <div class="comments">
        <h5 class="text-uppercase">Оставить комментарий</h5>
        <br />
        <div id="new-comment">
            @Html.Action(MVC.Comments.Create(mid: Model.Id, mct: Model.ModelCoreType))
        </div>
        <br />
        <h5 class="text-uppercase">Последние комментарии</h5>
        <div id="comments-list">
            @Html.Action(MVC.Comments.List(mid: Model.Id, mct: Model.ModelCoreType))
        </div>
    </div>

</div>

@section scripts{
    <script type="text/javascript" src="~/share42/share42.js"></script> 
    <script type="text/javascript" src="~/Content/dist/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Content/dist/js/jquery.validate.unobtrusive.min.js"></script>
}