@model VMAphorism
@{
    Layout = null;
    int lettersCount = ViewBag.AphorismLettersCount;
}

<div class="aphorism" data-mid="@Model.Id" data-lc="@lettersCount">
    <div class="aph-progress">
        <div></div>
    </div>
    <div><strong>@(Model.Author != null ? Model.Author.Name : "Аноним")</strong></div>
    <div class="aph-html">
        @if (Model.Author != null && Model.Author.PictureId.HasValue)
        {
            <figure class="img-circle" style="background-image:url(@Url.Action("Picture", "Pictures", new { id=Model.Author.PictureId}))">

            </figure>
        }
        <div class="foreword">
            @(Model.Foreword.Length>=100?Model.Foreword.Substring(0, 100)+"...": Model.Foreword)
            <br />
            <a class="btn btn-primary btn-sm" href="@Url.Action("Details", new { controller="Aphorisms", categoryId= Model.CategoryId, titleUrl= Model.TitleUrl})">Комментировать, Шарить, Оценить <i class="fa fa fa-angle-double-right"></i></a>
            <a class="btn btn-default btn-sm" href="#">Следуюший</a>
        </div>
    </div>
</div>