@model  VMGameMenu

<!--game menu-->
<div class="games-menu">
    <!--game menu list-->
    <ul class="games-list">
        @foreach (var item in Model.Games)
        {
            <li style="width:@Model.MenuItemWidth">
                @item.Title
            </li>
        }
    </ul>

    <!--game menu images-->
    <div class="container">
        <div>
            <ul>
                <li>
                    <div>
                        @if (Model.GoodGame != null && Model.GoodGame.ImgSrc != null)
                        {
                            <img alt="@Model.GoodGame.Title" src="@Model.GoodGame.ImgSrc" />
                        }
                    </div>
                </li>
                <li>
                    <div>
                        @if (Model.BadGame != null && Model.BadGame.ImgSrc != null)
                        {
                            <img alt="@Model.BadGame.Title" src="@Model.BadGame.ImgSrc" />
                        }
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
