@model VMEditVideo
@{
    var isNew = Model.Id==Guid.Empty;
    ViewBag.Title = isNew ? "Добавить видео сайта" : "Редактировать видео сайта \"" + Model.Title + "\"";
}

<h2>@ViewBag.Title</h2>
@if (!isNew)
{
    <form method="post" action="@Url.Action(MVC.Videos.Delete())">
        @Html.HiddenFor(x => x.Id)
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-danger pull-right" onclick="if(!confirm('Удалить запись?')){return false;}">Удалить видео</button>
    </form>
}
<p class="text-info">Видео обрабатывается и редактируется на основе существующего видео канала youtube.com</p>
<br />
<form method="post" action="@Url.Action(MVC.Videos.Edit())">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)

    @Html.LabelFor(x => x.Title, new { @class = "control-label" })
    @Html.EditorFor(x => x.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Введите название видео" } })
    @Html.ValidationMessageFor(x => x.Title)
    <br />
    @Html.LabelFor(x => x.Url, new { @class = "control-label" })
    @Html.EditorFor(x => x.Url, new { htmlAttributes = new { @class = "form-control", @placeholder = "Введите адрес видео" } })
    @Html.ValidationMessageFor(x => x.Url)
    <br />
    @Html.LabelFor(x => x.SourceUrl, new { @class = "control-label" })
    @Html.EditorFor(x => x.SourceUrl, new { htmlAttributes = new { @class = "form-control", @placeholder = "Введите источник видео" } })
    <div class="text-info">Задается в случае размещения стороннего видео для соблюдения авторских прав</div>
    @Html.ValidationMessageFor(x => x.SourceUrl)
    <br />
    @Html.LabelFor(x => x.PictureId, new { @class = "control-label" })
    @Html.EditorFor(x => x.PictureId, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(x => x.PictureId)
    <br />
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">@(isNew ? "Добавить" : "Сохранить")</button>
            @Html.ActionLink("Назад", MVC.Videos.Index(), new { @class = "btn btn-default" })
        </div>
    </div>
</form>