@model SxExtantions.SxPagedCollection<VMPicture>
@{
    Layout = null;
}
<table class="table table-condensed table-responsive table-hover table-bordered">
    <thead>
        <tr>
            <th>
                <input type="text" />
            </th>
            <th>
                <input type="text" />
            </th>
            <th>
                <input type="text" />
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Length; i++)
        {
            var item = Model.Collection[i];
            <tr data-id="@item.Id">
                <td>@item.Width x @item.Height</td>
                <td>@item.ImgFormat</td>
                <td data-text-field>@item.Caption</td>
                <td style="text-align:center;">
                    <img alt="@item.Caption" src="@Url.Action(MVC.Pictures.Picture(item.Id, height:30))"/>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">
                @Html.SxPager(Model.PagerInfo)
            </td>
        </tr>
    </tfoot>
</table>

