@model SxVMEditManual
@{
    var isNew = Model.Id == 0;
    ViewBag.Title = isNew ? "Добавить справочный материал" : "Редактировать справочный материал \"" + Model.Title + "\"";
    ViewBag.MaterialCategoryTitle = isNew || Model.CategoryId == null ? null : Model.Category.Title;
}

<h2>@ViewBag.Title</h2>
@if (Model.Id != 0)
{
    <div class="form-group">
        <div class="text-right">
            <form method="post" action="@Url.Action("delete", "manuals")">
                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.ModelCoreType)
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-danger" onclick="if (!confirm('Удалить запись?')) { return false;}">Удалить материал</button>
            </form>
        </div>
    </div>
}

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#params" aria-controls="params" role="tab" data-toggle="tab">Параметры</a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="params">
        <h2>Основные параметры материала</h2>
        <form method="post" action="@Url.Action("edit", "manuals")" autocomplete="off">
            @Html.AntiForgeryToken()

            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.ModelCoreType)
            @if (!isNew)
            {
                @Html.HiddenFor(x => x.UserId)
            }

            <div class="row">
                <div class="col-md-8">
                    @Html.LabelFor(x => x.Title, new { @class = "control-label" })
                    @Html.EditorFor(x => x.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Введите название материала" } })
                    @Html.ValidationMessageFor(x => x.Title)
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(x => x.CategoryId, new { @class = "control-label" })
                    @Html.EditorFor(x => x.CategoryId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Введите название материала" } })
                    @Html.ValidationMessageFor(x => x.CategoryId)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    @Html.LabelFor(x => x.Html, new { @class = "control-label" })
                    @Html.EditorFor(x => x.Html, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(x => x.Html)
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">@(Model.Id == 0 ? "Добавить" : "Сохранить")</button>
                        @Html.RouteLink("Назад", new { action = "Index" }, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/bower_components/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        if (CKEDITOR.instances['Html']) {
            CKEDITOR.remove(CKEDITOR.instances['Html']);
        }
        CKEDITOR.replace('Html', { height: 400 });

        $(function () {
            $("#CategoryId").sx_gvl();
        });
    </script>
}