@model VMEditAphorism
@{
    var isNew = Model.Id==0;
    ViewBag.Title = isNew ? "Добавить афоризм" : "Редактировать афоризм \"" + Model.Title + "\"";
}

<h2>@ViewBag.Title</h2>
@if (!isNew)
{
    <form method="post" action="@Url.Action(MVC.Aphorisms.Delete(cat: Model.CategoryId, id: Model.Id))">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-danger pull-right">Удалить афоризм</button>
    </form>
}
<br />
<form method="post" action="@Url.Action(MVC.Aphorisms.Edit())">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(x => x.CategoryId)

    <div class="row">
        <div class="col-md-12">
            @Html.LabelFor(x => x.Title, new { @class = "control-label" })
            @Html.EditorFor(x => x.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Введите заголовок" } })
            @Html.ValidationMessageFor(x => x.Title)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            @Html.LabelFor(x => x.Html, new { @class = "control-label" })
            @Html.EditorFor(x => x.Html, new { htmlAttributes = new { @class = "form-control", @placeholder = "Введите содержание" } })
            @Html.ValidationMessageFor(x => x.Html)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">@(isNew ? "Добавить" : "Сохранить")</button>
            @Html.ActionLink("Назад", MVC.Aphorisms.Index(curCat: Model.CategoryId), new { @class = "btn btn-default" })
        </div>
    </div>
</form>