@model VMAphorism[]
@{
    ViewBag.Title = "Афоризмы";
    SX.WebCore.SxMaterialCategory category = ViewBag.Category;
}

<h2>@ViewBag.Title</h2>
<br />

<div class="panel panel-default">
    <div class="panel-heading"><h4>Категории афоризмов</h4></div>
    <div class="panel-body" style="max-height:200px; overflow:hidden; overflow-y:auto;">
        @Html.Action(MVC.MaterialCategories.TreeViewMenu(mct: SX.WebCore.Enums.ModelCoreType.Aphorism))
    </div>
    <div class="panel-footer">
        <div class="text-right">
            <a href="@Url.Action(MVC.MaterialCategories.Index(mct: SX.WebCore.Enums.ModelCoreType.Aphorism))">К списку категорий афоризмов</a>
        </div>
    </div>
</div>

@if(category!=null)
{
    <h4>@category.Title</h4>
}

<div id="grid-aphorisms">
    @Html.Partial(MVC.Aphorisms.Views._GridView, Model)
</div>