@model SxVMEditSiteTest
@{
    var isNew = Model.Id == 0;
    ViewBag.Title = Model.Id == 0 ? "Добавить тест сайта" : "Редактировать тест \"" + Model.Title + "\"";
}

@section styles{
    <link href="~/content/dist/css/lightbox.min.css" rel="stylesheet" />
    <link href="~/content/dist/css/test-matrix.min.css" rel="stylesheet" />
}

<h2>@ViewBag.Title</h2>


<div class="text-right">
    <div class="form-group">
        @if (!isNew)
        {
            <form method="post" action="/sitetests/delete">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.Id)
                <button type="submit" class="btn btn-danger" onclick="if(!confirm('Удалить запись?')){return false;}">Удалить тест</button>
            </form>
        }
    </div>
</div>

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">Основные параметры</a></li>
    @if (!isNew)
    {
        <li role="presentation"><a href="#subjects" aria-controls="subjects" role="tab" data-toggle="tab">Объекты теста</a></li>
        <li role="presentation"><a href="#questions" aria-controls="questions" role="tab" data-toggle="tab">Вопросы теста</a></li>
        <li role="presentation"><a href="#matrix" aria-controls="matrix" role="tab" data-toggle="tab">Матрица ответов</a></li>
    }
    else
    {
        <li role="presentation"><a href="#load" aria-controls="load" role="tab" data-toggle="tab">Загрузить из файла</a></li>
    }
</ul>

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="general">
        <br />
        <form method="post" action="edit">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Id)

            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Title, new { @class = "control-label" })
                        @Html.EditorFor(x => x.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(x => x.Title)
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Show, new { @class = "control-label" })
                        @Html.EditorFor(x => x.Show, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(x => x.Show)
                    </div>
                </div>
            </div>

            @if (!isNew && User.IsInRole("architect"))
            {
            <div class="form-group">
                @Html.LabelFor(x => x.TitleUrl, new { @class = "control-label" })
                <span class="text-info"> (применяется для уникальной идентификации материала)</span>
                @Html.EditorFor(x => x.TitleUrl, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.TitleUrl)
            </div>
            }

            <div class="form-group">
                @Html.LabelFor(x => x.Description, new { @class = "control-label" })
                @Html.EditorFor(x => x.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.Description)
            </div>

            <div class="modal fade" id="matrixModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel"><b>@Model.Title</b>. Матрица ответов теста</h4>
                        </div>
                        <div class="modal-body" style="overflow:hidden; overflow-y:scroll; overflow-x:scroll; max-height:800px;">

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">@(Model.Id == 0 ? "Добавить" : "Сохранить")</button>
                @Html.RouteLink("Назад", new { action = "Index" }, new { @class = "btn btn-default" })
            </div>
        </form>
    </div>
    @if (!isNew)
    {
        <div role="tabpanel" class="tab-pane" id="subjects">
            <br />
            <div id="grid-test-subjects">

            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="questions">
            <br />
            <div id="grid-test-questions">

            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="matrix">
            <div id="matrix">

            </div>
        </div>
    }
    else
    {
        <div role="tabpanel" class="tab-pane" id="load">
            <br />
            <div class="input-group">
                <input type="text" class="form-control" name="test-file-input" placeholder="Выберите файл">
                <form method="post" action="@Url.Action("LoadFromFile", "SiteTests")" autocomplete="off" enctype="multipart/form-data">
                    <input type="file" class="hidden" name="file" />
                    @Html.AntiForgeryToken()
                </form>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="$('input[name=test-file-input]').trigger('focus');">Выбрать</button>
                </span>
            </div>
        </div>
    }
</div>

<div class="modal fade" id="test-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>



@section scripts{
    <script src="~/content/dist/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/content/dist/js/jquery.validate.min.js"></script>
    <script src="~/content/dist/js/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/bower_components/ckeditor/ckeditor.js"></script>
    <script src="~/content/dist/js/lightbox.min.js"></script>
    <script>
        $(function () {
            if (CKEDITOR.instances['Description']) {
                CKEDITOR.remove(CKEDITOR.instances['Description']);
            }
            CKEDITOR.replace('Description', { height: 400 });

            $('input[name="test-file-input"]').focus(function(){
                $input=$(this);
                $file=$('input[type="file"]');
                $file.trigger('click');
            });

            $('input[type="file"]').change(function(){
                var file=this.files[0];
                var name=file.name;
                $('input[name="test-file-input"]').val(name);
                $(this).closest('form').submit();
            });

            $('a[href="#questions"]').on('shown.bs.tab', function (e) {
                $a=$(this);
                $.ajax({
                    method: 'post',
                    url: '/sitetestquestions?testId='+@Model.Id,
                    beforeSend:function(){
                        $('<i class="fa fa-spinner fa-spin"></i>').prependTo($a);
                    },
                    success:function(result){
                        $('#grid-test-questions').html(result);
                    },
                    complete:function(){
                        $a.find('i').remove();
                    }
                });
            })

            $('a[href="#subjects"]').on('shown.bs.tab', function (e) {
                $a=$(this);
                $.ajax({
                    method: 'post',
                    url: '/sitetestsubjects?testId='+@Model.Id,
                    beforeSend:function(){
                        $('<i class="fa fa-spinner fa-spin"></i>').prependTo($a);
                    },
                    success:function(result){
                        $('#grid-test-subjects').html(result);
                    },
                    complete:function(){
                        $a.find('i').remove();
                    }
                });
            })

            $('a[href="#matrix"]').on('shown.bs.tab', function (e) {
                $a=$(this);
                $.ajax({
                    method: 'get',
                    url: '/sitetests/testmatrix?testId='+@Model.Id,
                    beforeSend:function(){
                        $('<i class="fa fa-spinner fa-spin"></i>').prependTo($a);
                    },
                    success:function(result){
                        $('#matrix').html(result);
                    },
                    complete:function(){
                        $a.find('i').remove();
                        $('#matrix td:not(.matrix__first-column):contains(1)').addClass('success');
                        $('[data-toggle="tooltip"]').tooltip({container:'body'});
                    }
                });
            })

            $('#grid-test-questions, #grid-test-subjects').sx_gv();

            $('#grid-test-subjects').on('click', '.sx-gv__create-btn', function(){
                $modal=$('#test-modal');
                $header=$modal.find('.modal-header h4');
                $body=$modal.find('.modal-body');
                $header.html('Добавить объект теста "@Model.Title"');
                var href=$(this).attr('href');
                $.ajax({
                    method:'get',
                    url:href,
                    success:function(result)
                    {
                        $body.html(result);
                    },
                    complete:function(){
                        if (CKEDITOR.instances['subject.Description']) {
                            CKEDITOR.remove(CKEDITOR.instances['subject.Description']);
                        }
                        CKEDITOR.replace('subject.Description', { height: 400 });
                        $body.find('#PictureId').sx_gvl();
                        $modal.modal('show');
                    }
                });

                return false;
            });

            $('#grid-test-questions').on('click', '.sx-gv__create-btn', function(){
                $modal=$('#test-modal');
                $header=$modal.find('.modal-header h4');
                $body=$modal.find('.modal-body');
                $header.html('Добавить вопрос теста "@Model.Title"');
                var href=$(this).attr('href');
                $.ajax({
                    method:'get',
                    url:href,
                    success:function(result)
                    {
                        $body.html(result);
                    },
                    complete:function(){
                        $modal.modal('show');
                    }
                });

                return false;
            });

            $('#grid-test-subjects').on('click', '.sx-gv__edit-btn', function(){
                $modal=$('#test-modal');
                $header=$modal.find('.modal-header h4');
                $body=$modal.find('.modal-body');
                $header.html('Редактировать объект теста "@Model.Title"');
                var href=$(this).attr('href');
                $.ajax({
                    method:'get',
                    url: href,
                    success:function(result)
                    {
                        $body.html(result);
                    },
                    complete:function(){
                        if (CKEDITOR.instances['subject.Description']) {
                            CKEDITOR.remove(CKEDITOR.instances['subject.Description']);
                        }
                        CKEDITOR.replace('subject.Description', { height: 400 });
                        $body.find('#PictureId').sx_gvl();
                        $modal.modal('show');
                    }
                });

                return false;
            });

            $('#grid-test-questions').on('click', '.sx-gv__edit-btn', function(){
                $modal=$('#test-modal');
                $header=$modal.find('.modal-header h4');
                $body=$modal.find('.modal-body');
                $header.html('Редактировать вопрос теста "@Model.Title"');
                var href=$(this).attr('href');
                $.ajax({
                    method:'get',
                    url: href,
                    success:function(result)
                    {
                        $body.html(result);
                    },
                    complete:function(){
                        $modal.modal('show');
                    }
                });

                return false;
            });

            $('#matrix').on('click', 'td:not(.matrix__first-column)', function(){
                $td=$(this);
                $tr=$td.closest('tr');
                var question=$.trim($tr.find('.matrix__first-column').html());
                var subject = $.trim($td.closest('table').find('th').eq($td.index()).html());
                var value=parseInt($td.html());
                var token = $('input[name="__RequestVerificationToken"]').val();

                $.ajax({
                    method:'post',
                    url: '@Url.Action("revertmatrixvalue", "sitetests")',
                    data:{subjectTitle: subject, questionText: question, value: value, __RequestVerificationToken:token},
                    beforeSend:function(){
                        $td.html('<i class="fa fa-spinner fa-spin"></i>');
                    },
                    success:function(result){
                        $td.html(result);
                        if(value==0)
                            $td.addClass('success');
                        else
                            $td.removeClass('success');
                    }
                });
            });

            $('#matrix').on('click','.sx-pager a', function(){
                var href=$(this).attr('href');
                $spinner=$('.p-spinner');
                $.ajax({
                    method:'get',
                    url:href,
                    beforeSend:function(){
                        $spinner.show();
                    },
                    success:function(result){
                        $('#matrix').html(result);
                    },
                    complete:function(){
                        $spinner.hide();
                        $('#matrix td:not(.matrix__first-column):contains(1)').addClass('success');
                        $('[data-toggle="tooltip"]').tooltip({container:'body'});
                    }
                });

                return false;
            });

            $('#matrix').on('click', '.matrix__first-column',function(){
                var css='warning';
                $tr=$(this).closest('tr');
                $('.matrix__first-column').closest('tr').removeClass(css);
                $tr.addClass(css);
            });
        });
    </script>
}