@model SxVMEditSiteTest
@{
    var isNew = Model.Id == 0;
    ViewBag.Title = Model.Id == 0 ? "Добавить тест сайта" : "Редактировать тест \"" + Model.Title + "\"";
}

<h2>@ViewBag.Title</h2>


<div class="text-right">
    <div class="form-group">
        @if (!isNew)
        {
            <form method="post" action="/sitetests/delete">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.Id)
                <button type="submit" class="btn btn-danger" onclick="if(!confirm('Удалить запись?')){return false;}">Удалить тест</button>
            </form>
        }
        else
        {
            <form method="post" action="/sitetests/loadtestfromfile" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <input type="file" name="file" class="hidden" />
            </form>
            <a href="javascript:void(0)" id="ofd-btn" class="btn btn-default"><i class="fa fa-th" aria-hidden="true"></i> Загрузить из файла</a>
        }
    </div>
</div>


<form method="post" action="edit">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)

    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                @Html.LabelFor(x => x.Title, new { @class = "control-label" })
                @Html.EditorFor(x => x.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.Title)
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                @Html.LabelFor(x => x.TestType, new { @class = "control-label" })
                @if (isNew)
                {
                    @Html.EnumDropDownListFor(x => x.TestType, new { @class = "form-control" })
                }
                else
                {
                    @Html.HiddenFor(x => x.TestType)
                    @Html.EnumDropDownListFor(x => x.TestType, new { @class = "form-control", @disabled = "disabled" })
                }
                @Html.ValidationMessageFor(x => x.TestType)
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                @Html.LabelFor(x => x.Show, new { @class = "control-label" })
                @Html.EditorFor(x => x.Show, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.Show)
            </div>
        </div>
    </div>

    @if (!isNew && User.IsInRole("architect"))
    {
        <div class="form-group">
            @Html.LabelFor(x => x.TitleUrl, new { @class = "control-label" })
            <span class="text-info"> (применяется для уникальной идентификации материала)</span>
            @Html.EditorFor(x => x.TitleUrl, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(x => x.TitleUrl)
        </div>
    }

    <div class="form-group">
        @Html.LabelFor(x => x.Description, new { @class = "control-label" })
        @Html.EditorFor(x => x.Description, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(x => x.Description)
    </div>

    <div class="modal fade" id="matrixModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><b>@Model.Title</b>. Матрица ответов теста</h4>
                </div>
                <div class="modal-body" style="overflow:hidden; overflow-y:scroll; overflow-x:scroll; max-height:800px;">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">@(Model.Id == 0 ? "Добавить" : "Сохранить")</button>
        @if (!isNew && Model.TestType == SX.WebCore.SxSiteTest.SiteTestType.GuessYesNo)
        {
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#matrixModal">Матрица ответов</button>
        }
        @Html.RouteLink("Назад", new { action = "Index" }, new { @class = "btn btn-default" })
    </div>
</form>

@section scripts{
    <script>
        $(function () {
            $('#ofd-btn').click(function(){
                $file=$(this).prev('form').find('input[type="file"]');
                $file.change(function(){
                    $(this).closest('form').submit();
                });
                $file.click();
            });

            $('#matrixModal').on('show.bs.modal', function (e) {
                $.ajax({
                    method: 'get',
                    url:'/sitetests/testmatrix?testId='+@Model.Id,
                    success:function(data){
                        $('#matrixModal .modal-body').html(data);
                    }
                });
            })
        });
    </script>
}