@model VMImgGame
@{
    Layout = null;
    var loadImg = ViewData["LoadImg"] != null ? (bool)ViewData["LoadImg"] : false;
}

<div class="game-good-img">
    <figure>
        <img alt="@Model.Title - положительное изображение" @(string.Format("{0}={1}", loadImg?"src":"data-src", Model.GoodPictureUrl+"?width="+Model.ImgWidth)) />
    </figure>
</div>
<div class="game-bad-img">
    <figure>
        <img alt="@Model.Title - отрицательное изображение" @(string.Format("{0}={1}", loadImg ? "src" : "data-src", Model.BadPictureUrl+"?width="+Model.ImgWidth)) />
    </figure>
</div>
<div class="game-icon-wrapper">
    <img alt="@Model.Title - иконка" @(string.Format("{0}={1}", loadImg ? "src" : "data-src", Model.IconUrl+"?height="+Model.IconHeight)) />
</div>