@model VMEditUser
@{
    var isNew = string.IsNullOrEmpty(Model.Id);
    var userName = Model.NikName ?? Model.Email;
    ViewBag.Title = isNew ? "Добавить пользователя" : "Редактировать пользователя \"" + userName + "\"";
}

<div>
    <a class="btn btn-default" href="@Url.Action(MVC.Users.Index())">Назад</a>
</div>

<h2>@ViewBag.Title</h2>

<div class="user">
    <div class="row">
        <div class="col-md-4">
            @if (Model.AvatarId.HasValue)
            {
                <div>
                    <img class="img-circle" alt="@userName" src="@Url.Action(MVC.Pictures.Picture((Guid)Model.AvatarId))" />
                </div>
            }
            <section>
                <h3>Статус</h3>
                <table class="table table-striped table-condensed">
                    <tbody>
                        <tr>
                            <td>Онлайн</td>
                            <td class="is-online">
                                @if (Model.IsOnline)
                                {<span class="badge">Да</span>}
                            </td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td><a href="mailto:@Model.Email">@Model.Email</a></td>
                        </tr>
                    </tbody>
                </table>
            </section>

            <section id="roles">
                @Html.Partial(MVC.Users.Views._UserRoles, Model)
            </section>

            <section id="info">
                @Html.Partial(MVC.Users.Views._UserInfo, Model)
            </section>
        </div>

        <div class="col-md-8">

        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        function removeMessage(id)
        {
            setTimeout(function () {
                $(id).fadeOut('fast');
            }, 1000);
        }
    </script>
}