@model SxVMBanner[]
@{
    ViewBag.Title = "Баннеры";
    var showsCount = (int)ViewBag.ShowsCount;
    var clicksCount = (int)ViewBag.ClicksCount;
    var ctr = showsCount == 0 ? 0 : Math.Round((decimal)clicksCount * 100 / showsCount,2);
}

@section styles{
    <link rel="stylesheet" href="~/content/dist/css/lightbox.min.css" />
    <link href="~/content/dist/css/grid-banners.min.css" rel="stylesheet" />
    <link href="~/content/dist/css/morris.css" rel="stylesheet" />
}

<h2>@ViewBag.Title</h2>
<br />
<table class="table table-condensed table-bordered table-responsive table-striped">
    <thead>
        <tr>
            <th>Всго показов</th>
            <th>Всего кликов</th>
            <th>Общий CTR, %</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@showsCount</td>
            <td>@clicksCount</td>
            <td>@ctr</td>
        </tr>
    </tbody>
</table>

<div id="grid-banners">
    @Html.Partial("_gridview", Model)
</div>

<h2>Статистика</h2>
<div id="banners-stat" style="height: 250px;"></div>

@section scripts{
    <script src="~/content/dist/js/raphael.min.js"></script>
    <script src="~/content/dist/js/morris.min.js"></script>
    <script type="text/javascript" src="~/content/dist/js/lightbox.min.js"></script>
    <script>
        $(function () {
            $('#grid-banners').sx_gv();

             $.ajax({
                url: '@Url.Action("DateStatistic", "Banners")',
                method: 'get',
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    new Morris.Bar({
                        element: 'banners-stat',
                        data: data,
                        xkey: 'Url',
                        ykeys: ['ShowsCount', 'ClicksCount'],
                        labels: ["Показов:", "Кликов:"]
                    });
                }
            });
        });
    </script>
}