@model SxVMSiteTestQuestion
@{
    Layout = null;
    var oldSteps = (SxVMSiteTestStep[])ViewBag.OldSteps;
    SxVMSiteTestStep step;
}

@using (Ajax.BeginForm("Step", "SiteTests", new AjaxOptions { HttpMethod = "post", UpdateTargetId = "st-page" }))
{
    <p>
        @Model.Test.Description
    </p>

    @Html.AntiForgeryToken()
    <input type="hidden" name="testId" value="@Model.Test.Id" />

    <div class="q">
        @for (int i = 0; i < oldSteps.Length; i++)
        {
            step = oldSteps[i];
            <input type="hidden" name="[@i].QuestionId" value="@step.QuestionId" />
            <input type="hidden" name="[@i].IsCorrect" data-q-id="@step.QuestionId" value="@step.IsCorrect.ToString().ToLower()" />
        }
    </div>

    @Html.SxIndicatorGroup(
    new SxVMSiteTestQuestion[] { Model },
    new SxExtantions.SxIndicatorGroupSettings<SxVMSiteTestQuestion>
    {
        FuncGetLabel = x => x.Text,
        FuncGetId = x => x.Id.ToString()
    })
}