@model SxVMSiteTestQuestion
@{
    Layout = null;
    var pastQ = (List<SxVMSiteTestStep>)ViewBag.PastQ;
    var blocksCount = ViewBag.BlocksCount;
}

@blocksCount
@using (Ajax.BeginForm("Step", "SiteTests", new AjaxOptions { HttpMethod = "post", UpdateTargetId = "st-page" }))
{
    <p>
        @Model.Block.Test.Description
    </p>

    @Html.AntiForgeryToken()
    <input type="hidden" name="ttu" value="@Model.Block.Test.TitleUrl" />
    if (pastQ != null)
    {
        var count = 0;
        foreach (var q in pastQ)
        {
            <input type="hidden" class="pastQT" name="[@count].Order" value="@q.Order" />
            <input type="hidden" name="[@count].Question.Text" value="@q.Question.Text" />
            <input type="hidden" name="[@count].Question.IsCorrect" value="@q.Question.IsCorrect" />
            count++;
        }
    }

    @Html.SxIndicatorGroup(new SxVMSiteTestQuestion[] { Model }, new SxExtantions.SxIndicatorGroupSettings<SxVMSiteTestQuestion>
{
    FuncGetLabel = x => x.Text
})
}