@model VMSiteTest
@{
    ViewBag.Title = Model.Title;
    ViewBag.H1 = ViewBag.H1 ?? Model.Title;
    ViewBag.Description = ViewBag.Description ?? Model.Description;
    ViewBag.Keywords = ViewBag.Keywords ?? "Игровые тесты, тесты для игр";
}

@if (Model.Blocks.Any())
{
    <div id="st-page">
        <br />
        <p>
            @Model.Description
        </p>

        <div>
            @for (int i = 0; i < Model.Blocks.Length; i++)
            {
                var block = Model.Blocks[i];
                if (block.Questions.Any())
                {
                    <section id="stb-@block.Id" class="@(i!=0?"hidden":null)">
                        <blockquote class="desc">
                            <h3 class="title">@block.Title</h3>
                            <br />
                            @block.Description
                        </blockquote>

                        @for (int y = 0; y < block.Questions.Length; y++)
                        {
                            var question = block.Questions[y];
                            <div class="stq">
                                <input type="radio" value="@question.Id" name="stq" id="stq-@question.Id" autocomplete="off" />
                                <label for="stq-@question.Id">@question.Text</label>
                            </div>
                        }
                    </section>
                }
            }
            <div class="text-center">
                <button class="btn btn-default btn-transparent white next-btn disabled">
                    <span></span>
                    Далее
                </button>
                <form method="post" action="result">
                    <input type="hidden" name="test" value="@Model.Id" />
                </form>
            </div>
        </div>
    </div>

    @section scripts{
        <script>
            var stbCount=@Model.Blocks.Length-1;
            var counter=stbCount;
            $(function () {
                $('input[type="radio"]').change(function () {
                    $('.next-btn').removeClass('disabled');
                });

                $('.next-btn').click(function () {
                    $btn = $(this);
                    if ($btn.hasClass('disabled')) return false;

                    $block = $('section').not('.hidden');
                    $blockNext = $block.next('section');
                    if ($blockNext.length == 1) {
                        var blockId = $block.attr('id').replace('stb-', '');
                        var questionId = $block.find('input[type="radio"]:checked').val();
                        addBlockResultInfo(blockId, questionId);
                        $block.animate({
                            'opacity': '0'
                        }, 'fast', function () {
                            $block.hide().addClass('hidden');
                            $blockNext.removeClass('hidden').fadeIn();
                            counter+=-1;
                            fillNextButton($btn);
                            $btn.addClass('disabled');
                        });
                    }
                    else {
                        alert('Функционал не реализован');
                    }
                });
            });

            function fillNextButton(btn)
            {
                $btn=$(btn);
                var width=100-counter*100/stbCount+'%';
                $btn.find('span').animate({
                    'width': width
                }, 'fast');
            }

            function addBlockResultInfo(blockId, questionId)
            {
                $('form').append('<input type="hidden" name="block" value="' + blockId + '" />');
                $('form').append('<input type="hidden" name="question" value="' + questionId + '" />');
            }
        </script>
    }
}