@model SxExtantions.SxPagedCollection<VMSiteTest>
@{
    ViewBag.Title = ViewBag.Title ?? "Тесты от game-exe.com";
    ViewBag.H1 = ViewBag.H1 ?? ViewBag.Title;
    ViewBag.Description = ViewBag.Description ?? "Здесь можно пройти тесты на знание игр. Оригинальные тесты. Проверьте свои знания!";
    ViewBag.Keywords = ViewBag.Keywords ?? "Тесты, проверить свои знания, оригинальные тесты";

    VMSiteTest item;
}

@section styles{
    <link href="~/content/dist/css/test-list.min.css" rel="stylesheet" />
}

@Html.Partial("_Breadcrumbs", (SxVMBreadcrumb[])ViewBag.Breadcrumbs)

<div class="test-list">
    @if (Model.Collection.Any())
    {
        for (int i = 0; i < Model.Collection.Length; i++)
        {
            item = Model.Collection[i];
            <div class="test-item">
                <h2>@item.Title</h2>
                <div class="test-item__info">
                    Просмотров: <span>@item.ViewsCount</span>
                </div>
                <p class="text-muted">@Html.Raw(item.Description)</p>
                <div>
                    <a href="@Url.Action("Details","SiteTests", new { titleUrl = item.TitleUrl })" class="btn btn-sm btn-default test-item__btn">Пройти тест <i class="fa fa-angle-double-right"></i></a>
                    @if (!string.IsNullOrEmpty(item.Rules))
                    {
                        <a href="@Url.Action("Rules", "SiteTests", new { siteTestId = item.Id })" class="btn btn-sm btn-default test-item__btn test-rules__btn">Правила <i class="fa fa-eye"></i></a>
                    }
                </div>
            </div>
        }
    }
    else
    {
        <p class="lead">
            Пока ни одного теста на сайте нет. Мы обязательно добавим лучшие и интересные тесты на знание онлайн игр. Мы постоянно пополняем существующую коллекцию тестов, так что Вам не придется скучать!
        </p>
    }
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal-rules">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('.test-rules__btn').click(function () {
            var url = $(this).attr('href');
            $modal = $('#modal-rules');
            $.ajax({
                method: 'post',
                url: url,
                success: function (result) {
                    $modal.find('.modal-title').html(result.Title);
                    $modal.find('.modal-body').html(result.Rules);
                    $modal.modal('show');
                }
            });
            return false;
        });
    </script>
    }