@model SxVMEditEmployee
@{
    ViewBag.Title = "Редактировать информацию о сотруднике";
}

@if (Model.User != null && Model.User.AvatarId.HasValue)
{
    <img style="width:70px; height:70px" src="/pictures/picture/@Model.User.AvatarId" />
    <span>@Model.User.NikName</span>
}
<h2>@ViewBag.Title</h2>
<br />
<form method="post" action="edit">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)

    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(x => x.Surname, new { @class = "control-label" })
                @Html.EditorFor(x => x.Surname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.Surname)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(x => x.Name, new { @class = "control-label" })
                @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.Name)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(x => x.Patronymic, new { @class = "control-label" })
                @Html.EditorFor(x => x.Patronymic, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.Patronymic)
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Description, new { @class = "control-label" })
        @Html.EditorFor(x => x.Description, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(x => x.Description)
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a href="/employees" class="btn btn-default">Назад</a>
    </div>
</form>

@section scripts{
    <script type="text/javascript" src="~/bower_components/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        if (CKEDITOR.instances['Description']) {
            CKEDITOR.remove(CKEDITOR.instances['Description']);
        }
        CKEDITOR.replace('Description', { height: 400 });
    </script>
}