@model SxVMComment
@{
    Layout = null;
}

<div class="comment">
    <div class="row content">
        <div class="col-md-3 col-xs-12">
            <div class="author">
                @if (Model.User?.AvatarId != null)
                {
                    <img class="img-circle" alt="@Model.User.NikName" src="@Url.Action("Picture", "Pictures", new { id=Model.User.AvatarId })" />
                }
                else
                {
                    <img class="img-circle" alt="incognito" src="/content/dist/i/incognito.png" />
                }
                <div class="nik">@(Model.User?.NikName ?? Model.UserName)</div>
            </div>
        </div>
        <div class="col-md-9 col-xs-12">
            <div class="text">
                <div class="date">@Model.DateCreate.ToString("hh: mm") &nbsp;&nbsp;&nbsp; @Model.DateCreate.ToString("dd MM yyyy")</div>
                @Model.Html
            </div>
        </div>
    </div>
</div>
