@using Microsoft.AspNet.Identity
@model VMComment
@{
    Layout = null;
    var userId = User.Identity.GetUserId();
    var isAuth = User.Identity.IsAuthenticated;
}

<div class="comment">
    <div class="row content">
        <div class="col-md-3">
            <div class="author">
                @if (Model.User != null && Model.User.AvatarId.HasValue)
                {
                    <img class="img-circle" alt="@Model.User.NikName" src="@Url.Action("Picture","Pictures", new { id=Model.User.AvatarId })" />
                }
                <div class="nik">@Model.User.NikName</div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="text">
                <div class="date">@Model.DateCreate.ToString("hh: mm") &nbsp;&nbsp;&nbsp; @Model.DateCreate.ToString("dd MM yyyy")</div>
                @Model.Html
            </div>
        </div>
    </div>
    @if (isAuth)
    {
        <div class="func">
            <div class="text-right">
                <ul class="list-unstyled list-inline">
                    @if (Model.User.Id == userId)
                    {
                        <li>
                            <a href="#">Редактировать</a>
                        </li>
                    }
                    <li>
                        <a href="#">Цитата</a>
                    </li>
                    <li>
                        <a href="#">Ответить</a>
                    </li>
                    @if (Model.User.Id == userId)
                    {
                        <li>
                            <a href="#">Удалить</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    }
</div>
