@model SX.WebCore.ViewModels.Youtube.SxVMYoutubeVideo[]

@if (Model.Any())
{
    SxVMVideo item = null;
    for (int i = 0; i < Model.Length; i++)
    {
        item = Model[i].ConvertedVideo;

        <div class="humor-yt-item">

            <div class="humor-yt-item__video">
                @Html.SxVideo(item, SX.WebCore.Providers.SxVideoProvider.VideoQuality.Medium)
            </div>

            <h3 class="humor-yt-item__title">@item.Title</h3>

            Канал: <a href="@item.VideoChannelUrl" target="_blank">@item.VideoChannelUrl</a>
        </div>

        if ((i+1) % 6 == 0)
        {
            var banner = ViewBag.PageBanners != null ? ((SxVMBanner[])ViewBag.PageBanners).SingleOrDefault(x => x.Place == SxBanner.BannerPlace.Right) : null;
            if (banner != null && (!(Equals(banner.Type, SxBanner.BannerType.Google) && Request.IsLocal) || Equals(banner.Type, SxBanner.BannerType.Html)))
            {
                <div class="humor-yt-item__banner">
                    @Html.SxBanner(banner, (b) => Url.Action("Picture", "Pictures", new { id = b.PictureId }), b => { return Url.Action("Click", "Banners", new { bannerId = b.Id }); })
                </div>
            }
        }
    }
}