@model VMLCNBCategory
@{
    Layout = null;
}

@if (Model.News.Any())
{
    <aside class="l-c-n-b">
        <h2 class="header">@Model.Title</h2>
        <div class="content">
            <div class="row">
                <div class="col-md-4">
                    <ul class="menu">
                        @if (Model.News.Any())
                        {
                            for (int i = 0; i < Model.News.Length; i++)
                            {
                                var news = Model.News[i];
                                <li>
                                    <a @(news.CategoryId != null?string.Format("data-category-id={0}", news.CategoryId):null) data-category-id="@news.CategoryId" href="@Url.Action(MVC.News.Details(news.DateCreate.Year, news.DateCreate.Month.ToString("00"), news.DateCreate.Day.ToString("00"), news.TitleUrl))">
                                        <span class="date">@news.DateCreate.ToString("dd.MM.yyy")</span> <span class="title">@news.Title</span>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div class="col-md-8">
                    @if (Model.SubCategories.Any())
                    {
                        <div class="category-wrapper">
                            <ul class="sub-gategories">
                                @for (int i = 0; i < Model.SubCategories.Length; i++)
                                {
                                    var subCategory = Model.SubCategories[i];
                                    var pictureId = subCategory.FrontPictureId.HasValue ? subCategory.FrontPictureId
                                        : subCategory.News.Any() && subCategory.News[0].FrontPictureId.HasValue ? subCategory.News[0].FrontPictureId
                                        : Guid.Empty;
                                    <li>
                                        <a href="#">
                                            <figure data-category-id="@subCategory.Id" style="background:url(@Url.Action(MVC.Pictures.Picture((Guid)pictureId))) center / cover">

                                            </figure>
                                        </a>
                                        @if (subCategory.News.Any())
                                        {
                                            <ul class="lcnb-news hidden-xs">
                                                @for (int y = 0; y < subCategory.News.Length; y++)
                                                {
                                                    var cNews = subCategory.News[y];
                                                    <li>
                                                        <a href="@Url.Action(MVC.News.Details(cNews.DateCreate.Year, cNews.DateCreate.Month.ToString("00"), cNews.DateCreate.Day.ToString("00"), cNews.TitleUrl))">@cNews.Title</a>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                        @if (subCategory.Tags.Any())
                                        {
                                            <div class="tags">
                                                <h4>@subCategory.Title</h4>
                                                @Html.Partial(MVC.MaterialTags.Views._TagsCloud, subCategory.Tags, new ViewDataDictionary { { "TagsMaxFs", 14 }, { "TagsUrl", Url.Action(MVC.News.List()) } })
                                            </div>
                                        }
                                    </li>
                                }
                            </ul>
                            <div class="lgnb-tags">

                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </aside>
}