@model VMLGNB
@{
    Layout = null;
    VMLGNBNews news;
    VMLGNBNews gNews;
}

<!--last news block-->
<aside class="l-n-b">
    <h2 class="header">Последние новости</h2>
    <div class="content">
        <div class="row">
            <div class="col-md-4">
                <ul class="menu">
                    @if (Model.News.Any())
                    {
                        for (int i = 0; i < Model.News.Length; i++)
                        {
                            news = Model.News[i];
                            <li>
                                <a href="@news.Url(Url)" data-game-id="@news.GameId">
                                    <span class="date">@news.DateCreate.ToString("dd.MM.yyy")</span> <span class="title">@news.Title</span>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
            <div class="col-md-8">
                <div class="games-wrapper">
                    <ul class="games">
                        @if (Model.Games.Any())
                        {
                            for (int i = 0; i < Model.Games.Length; i++)
                            {
                                var game = Model.Games[i];
                                game.FrontPictureId = game.News.Any() && game.News[0].FrontPictureId.HasValue ? game.News[0].FrontPictureId : game.FrontPictureId;
                                if (game.FrontPictureId.HasValue)
                                {
                                    var length = Model.Games.Length > 4 ? 4 : Model.Games.Length;
                                    var width = Math.Round(100 / (decimal)length, 4).ToString().Replace(',', '.');
                                    <li @("style=width:" + width + "%")>
                                        <a href="@Url.Action("list", new { controller = "news", gameTitle = game.TitleUrl })">
                                            <figure data-game-id="@game.Id" style="background:url('@Url.Action("Picture", new { controller="Pictures", id=game.FrontPictureId, height= 220})') center / cover">
                                                
                                            </figure>
                                        </a>
                                        @if(game.News.Any())
                                        {
                                            <ul class="lgnb-news hidden-xs">
                                                @for (int y = 0; y < game.News.Length; y++)
                                                {
                                                    gNews = game.News[y];
                                                    <li>
                                                        <a href="@gNews.Url(Url)">@gNews.Title</a>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                        @if (game.Tags.Any())
                                        {
                                            <div class="tags">
                                                <h4>@game.Title</h4>
                                                @Html.Partial("~/Views/MaterialTags/_TagsCloud.cshtml", game.Tags, new ViewDataDictionary { { "TagsMaxFs", 14 }, { "TagsUrl", Url.Action("List", "News") } })
                                            </div>
                                        }
                                    </li>
                                }
                            }
                        }
                    </ul>
                    <div class="lgnb-tags">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>