@model VMDetailNews
@{
    var title = ViewBag.Title;
    var h1 = ViewBag.H1;
    ViewBag.Title = title ?? Model.Title;
    ViewBag.H1 = ViewBag.H1 ?? ViewBag.Title;
}

<div class="detail-news">
    @Html.Partial(MVC.Shared.Views._Breadcrumbs, (VMBreadcrumb[])ViewBag.Breadcrumbs)
    <br />
    <a href="/" class="btn btn-default" onclick="sendClickStat(this, '/', 1)">Это интересно, что тут есть ещё?</a>
    <a href="/" class="btn btn-default" onclick="sendClickStat(this, '/', 2)">Это не то, что я искал, попробую снова</a>
    <div class="m-html">
        @if (Model.FrontPictureId.HasValue)
        {
            <img class="f-picture" alt="@Model.Title" src="@Url.Action(MVC.Pictures.Picture((Guid)Model.FrontPictureId))" />
        }
        @Html.Raw(Model.Html)
    </div>
    <div class="m-info">
        <div class="row">
            <div class="col-md-6">
                @Html.Partial(MVC.Likes.Views._Likes, Model)
            </div>
            <div class="col-md-6">
                <div class="text-right">
                    @Html.DisplayFor(x => Model.Info)
                </div>
            </div>
        </div>
    </div>
</div>
