@model VMLastNewsBlock
@{
    Layout = null;
}

<!--last news block-->
<aside class="l-n-b">
    <h2>Последние новости</h2>
    <div class="content">
        <div class="row">
            <div class="col-md-4">
                <ul class="menu">
                    @for (int i = 0; i < Model.NewsLength; i++)
                    {
                        var news = Model.News[i];
                        <li>
                            <a href="@Url.Action(MVC.News.Details(news.Id))" data-game-id="@news.GameId">
                                <span class="date">@news.DateCreate.ToString("dd-MM-yyy")</span> <span class="title">@news.Title</span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div class="col-md-8">
                <div class="games-wrapper">
                    <ul class="games">
                        @for (int i = 0; i < Model.GamesLength; i++)
                        {
                            var game = Model.Games[i];
                            if (game.FrontPictureId.HasValue)
                            {
                                var length=Model.GamesLength > 4 ? 4 : Model.GamesLength;
                                var width = Math.Round(100 / (decimal)length, 4).ToString().Replace(',', '.');
                                <li @("style=width:" + width + "%")>
                                    <a href="#">
                                        <figure data-game-id="@game.Id">
                                            <img alt="" src="@Url.Action(MVC.Pictures.Picture((Guid)game.FrontPictureId, height: 220))" />
                                            <span class="game-title">@game.Title</span>
                                        </figure>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center all-news-btn">
        @Html.RouteLink("Все новости", new { controller = "#", action = "" }, new { @class = "btn btn-default btn-transparent dark-blue" })
    </div>
</aside>